<div class="section start-today main">
  <h2
    class="features-heading"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="100"
    data-aos-duration="500"
  >
    Get started today
  </h2>
  <div
    class="subheading"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="300"
    data-aos-duration="700"
  >
    It’s free and works across many devices
  </div>
  <a
    href="https://app.darqube.io/auth/sign_up?redirect=/terminal"
    target="_blank"
    class="big-button w-inline-block"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="500"
    data-aos-duration="900"
    ><div>Start using Darqube</div></a
  >
</div>
