<div class="section start-today main">
  <h2
    class="features-heading"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="100"
    data-aos-duration="500"
  >
    Get started today
  </h2>
  <div
    class="subheading"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="300"
    data-aos-duration="700"
  >
    <p>
      Our mission is to democratize access to the multifamily real estate
      investment market by empowering the average investor to become a
      sophisticated one through innovative technology and deep market
      intelligence.
    </p>
  </div>
  <a
    href="https://app.darqube.io/auth/sign_up?redirect=/terminal"
    target="_blank"
    class="big-button w-inline-block"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="500"
    data-aos-duration="900"
    ><div>JOIN WAITLIST</div></a
  >
</div>
