<div class="section start-today main">
  <h2
    class="features-heading"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="100"
    data-aos-duration="500"
  >
    {{ "landingpage.main_today.today_h_txt" | translate }}
  </h2>
  <div
    class="subheading"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="300"
    data-aos-duration="700"
  >
    <p>
      {{ "landingpage.main_today.today_s_txt" | translate }}
    </p>
  </div>
  <a
    href=""
    target="_blank"
    class="big-button w-inline-block"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="500"
    data-aos-duration="900"
    ><div>{{ "header.waitlist_btn" | translate }}</div></a
  >
</div>
