<div class="section wide messenger">
  <div
    class="custom-h1"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="400"
    data-aos-duration="700"
  >
    What makes it <span class="highlight">outstand</span>
  </div>
  <div class="feature-item">
    <div
      class="feature-item-column"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db71d3b07e7f6add6f8f7c2_11.png"
        alt=""
        class="picture-shift"
      />
    </div>
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="400"
          data-aos-duration="700"
        >
          Get customizable news and twitter feeds. Instantly
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="700"
        >
          Build your automated news / twitter channels on topics you want to
          read
        </p>
      </div>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="400"
          data-aos-duration="700"
        >
          Keep everything organized and adjusted to your needs
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="700"
        >
          Adjustable interface, expandable / collapsable windows, columns.
          Folders for contacts, chats, channels
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="linear"
      data-aos-delay="400"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db71ea807e7f68e00f90059_12.png"
        alt=""
        class="picture-shift"
      />
    </div>
  </div>
  <div class="feature-item">
    <div
      class="feature-item-column"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="400"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db71d3cc0d9b455e310274e_13.png"
        alt=""
        class="picture-shift"
      />
    </div>
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="400"
          data-aos-duration="700"
        >
          We needed it too! Multichatting
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="700"
        >
          Multi-window mode helps you to chat more convenient in your everyday
          conversations
        </p>
        <img
          src="../../../assets/images/5db71d3bcf5cf1d7140766c4_14.png"
          alt=""
          class="multichat_switcher"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="700"
        />
      </div>
    </div>
  </div>
  <div class="feature-item push-up">
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="400"
          data-aos-duration="700"
        >
          Speaks your pro language
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="700"
        >
          When you type a ticker in a chat window, it becomes an active link,
          that opens an Info panel with all the data and charts
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="linear"
      data-aos-delay="400"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db71d3ccf5cf111b80766cd_15.png"
        alt=""
        class="picture-shift"
      />
    </div>
  </div>
</div>
<div class="section dark">
  <h2
    class="h2-centered"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="400"
    data-aos-duration="700"
  >
    Deep integration with other Darqube apps <br />and components
  </h2>
  <div class="_3-columns-wrapper last integration">
    <div class="feature-column messenger">
      <div
        class="feature-icon picture"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-delay="700"
        data-aos-duration="700"
      >
        <img
          src="../../../assets/images/5db71d3c68a14314a7003778_16.png"
          alt=""
          class="shift_right tall"
        />
      </div>
      <div class="integration-content">
        <h3>Messenger works on all our platforms</h3>
        <p class="icons-text">
          Use Messenger inside Terminal and Bot Builder. Keep your conversations
          and calls going everywhere
        </p>
      </div>
    </div>
    <div class="feature-column messenger">
      <div
        class="feature-icon picture"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-delay="1100"
        data-aos-duration="700"
      >
        <img
          src="../../../assets/images/5db71d3d07e7f6050cf8f7c4_17.png"
          alt=""
          class="shift_right"
        />
      </div>
      <div class="integration-content">
        <h3>Get alerts about nearly everything</h3>
        <p class="icons-text">
          Price changed? Bot made a trade? Something important happened in the
          Media? Get instant alerts!
        </p>
      </div>
    </div>
    <div class="feature-column messenger">
      <div
        class="feature-icon picture"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-delay="1500"
        data-aos-duration="700"
      >
        <img
          src="../../../assets/images/5db71d3d68a143d3a100377c_18.png"
          alt=""
          class="shift_left"
        />
      </div>
      <div class="integration-content">
        <h3>Smart Sharing</h3>
        <p class="icons-text">
          Got a good bot strategy? Made up a cool dashboard in Terminal? Share
          it with your friend or colleague
        </p>
      </div>
    </div>
  </div>
</div>
