<div class="section _100vh main_tradelab">
  <div class="feature-container main_tradelab">
    <div class="feature-content-wrapper main_tradelab">
      <div class="product-label tradelab">
        <div>Tradelab</div>
      </div>
      <h2>Evaluate & underwrite, model, compare!</h2>
      <p class="feature-text">
        All the features of the most powerful spreadsheets, with the simplicity
        and elegance to make everyday investors experts and experts addicted.
      </p>
    </div>
    <div
      class="feature-image-container tradelab"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-delay="100"
      data-aos-duration="1000"
    >
      <img
        src="../../../assets/img/feature/feature1/feature.png"
        alt=""
        class="main-tradelab"
      />
    </div>
  </div>
</div>
