<div class="section _100vh main_tradelab">
  <div class="feature-container main_tradelab">
    <div class="feature-content-wrapper main_tradelab">
      <div class="product-label tradelab">
        <div>Tradelab</div>
      </div>
      <h2>Evaluate & underwrite, model, compare!</h2>
      <p class="feature-text">
        All the features of the most powerful spreadsheets, with the simplicity
        and elegance to make everyday investors experts and experts addicted.
      </p>
      <a href="tradelab.html" class="learn-more-button tradelab w-inline-block"
        ><div>Learn more</div>
        <img
          src="../../../assets/images/5daae5630a97edc85205e47f_arrow_right.svg"
          alt=""
          class="arrow-right home"
      /></a>
    </div>
    <div
      class="feature-image-container tradelab"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-delay="100"
      data-aos-duration="1000"
    >
      <img
        src="../../../assets/images/5dc58c7fdc409baaacc57b20_tradelab_main.png"
        sizes="(max-width: 479px) 100vw, (max-width: 767px) 75vw, (max-width: 991px) 700px, 65vw"
        srcset="
          ../../../assets/images/5dc58c7fdc409baaacc57b20_tradelab_main-p-500.png 500w,
          ../../../assets/images/5dc58c7fdc409baaacc57b20_tradelab_main-p-800.png 800w,
          ../../../assets/images/5dc58c7fdc409baaacc57b20_tradelab_main.png       949w
        "
        alt=""
        class="main-tradelab"
      />
    </div>
  </div>
</div>
