<div class="section _100vh main_tradelab">
  <div class="feature-container main_tradelab">
    <div class="feature-content-wrapper main_tradelab">
      <div class="product-label tradelab">
        <div>{{ "header.feature_tradelab" | translate }}</div>
      </div>
      <h2>{{ "landingpage.main_trade.trade_sh_txt" | translate }}</h2>
      <p class="feature-text">
        {{ "landingpage.main_trade.trade_s_txt" | translate }}
      </p>
    </div>
    <div
      class="feature-image-container tradelab"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-delay="100"
      data-aos-duration="1000"
    >
      <img
        src="{{ 'landingpage.main_trade.trade_img_src1' | translate }}"
        alt=""
        class="main-tradelab img_1"
        data-aos="fade-left"
        data-aos-easing="ease-in-sine"
        data-aos-delay="500"
      />
      <img
        src="{{ 'landingpage.main_trade.trade_img_src_g' | translate }}"
        alt=""
        class="main-tradelab img_2"
        data-aos="fade-left"
        data-aos-easing="ease-in-sine"
        data-aos-delay="1000"
      />
      <img
        src="{{ 'landingpage.main_trade.trade_img_src2' | translate }}"
        alt=""
        class="main-tradelab img_3"
        data-aos="fade-left"
        data-aos-easing="ease-in-sine"
        data-aos-delay="1000"
      />
      <img
        src="{{ 'landingpage.main_trade.trade_img_src3' | translate }}"
        alt=""
        class="main-tradelab img_4"
        data-aos="fade-left"
        data-aos-easing="ease-in-sine"
        data-aos-delay="1500"
      />
    </div>
  </div>
</div>
