<div class="about-nav-section header">
  <div
    data-collapse="small"
    data-animation="default"
    data-duration="400"
    role="banner"
    class="about-navbar w-nav"
  >
    <div class="about-nav-container w-container">
      <nav role="navigation" class="w-nav-menu">
        <a href="#" class="nav-menu-item first w-nav-link">Overview</a
        ><a href="#" class="nav-menu-item w-nav-link">Team</a
        ><a href="#" class="nav-menu-item w-nav-link">Values</a
        ><a href="#" class="nav-menu-item w-nav-link">Contacts</a
        ><a href="#" class="nav-menu-item w-nav-link">Questions</a>
      </nav>
    </div>
  </div>
</div>

<div class="hero-products soon">
  <h1 data-w-id="3c69f62c-b2ad-1523-57db-a569db940037" class="product-h1 top">
    Darqube is currently free!
  </h1>
  <div class="coming-soon-row pricing">
    <img
      src="../../../assets/images/5e8f44f54bf4e429e281ec47_free.svg"
      alt=""
      class="pricing-free"
    />
    <div class="pricing-description">
      In the future, we will offer paid plans with more data, functionality and
      customization in addition to the free tier. If you have any questions,
      feel free to reach out.
    </div>
    <a
      data-w-id="51a87891-fb42-8b91-7345-57c1c8adf8e2"
      href="#"
      class="big-button black feedback w-inline-block"
      ><div>Write a message</div></a
    >
  </div>
</div>
