<div class="section centered terminal">
  <div
    class="custom-h1"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="500"
    data-aos-duration="500"
  >
    What you get with Terminal
  </div>
  <div class="feature-item">
    <div class="feature-item-column">
      <div class="feature-item-text wide">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="500"
          data-aos-duration="500"
        >
          Better trading decisions. Cross-asset
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="700"
          data-aos-duration="500"
        >
          Due to Real-time and Historical data analysis, Quantitative Modelling
          & Portfolio analytics. <br /><br />Use cutting edge research
          technology to simplify your investment asset selection and make better
          and faster trading decisions. <br /><br />Calculate scenario analysis,
          correlations, volatilities and returns for a variety of asset types
          and markets.
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-delay="500"
      data-aos-duration="500"
    >
      <img
        src="../../../assets/images/5db85aa99431de83da7d2704_19.png"
        alt=""
        class="feature_19"
      />
    </div>
  </div>
  <div class="feature-item">
    <div
      class="feature-item-column pic"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-delay="500"
      data-aos-duration="500"
    >
      <img
        src="../../../assets/images/5db85aa99431de52237d2705_20.png"
        alt=""
        class="feature_20"
      />
    </div>
    <div class="feature-item-column">
      <div class="feature-item-text wide">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="500"
          data-aos-duration="500"
        >
          Quick answers and charting tools
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="700"
          data-aos-duration="500"
        >
          Pinpoint the information you need, quickly and easily with our
          proprietary natural language search engine. Powerful charting tools
          seamlessly integrated with search and other core capabilities help you
          quickly grasp and act on large amounts of information.
        </p>
      </div>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-column">
      <div class="feature-item-text wide">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="500"
          data-aos-duration="500"
        >
          Fully customizable layout
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="700"
          data-aos-duration="500"
        >
          Create fully customizable dashboards tailored to personal needs. We've
          built a fast and reliable framework so now you can arrange components
          and widgets of the Terminal any way you want
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-delay="700"
      data-aos-duration="500"
    >
      <img
        src="../../../assets/images/5db85aa91a2cff1bb83999ee_21.png"
        alt=""
        class="feature_21"
      />
    </div>
  </div>
  <div class="feature-item">
    <div
      class="feature-item-column pic"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-delay="500"
      data-aos-duration="500"
    >
      <img
        src="../../../assets/images/5db85aa9fd3cde681c22b501_22.png"
        alt=""
        class="picture-shift"
      />
    </div>
    <div class="feature-item-column">
      <div class="feature-item-text wide">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="700"
          data-aos-duration="500"
        >
          Messenger included!
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="ease-in-sine"
          data-aos-delay="800"
          data-aos-duration="500"
        >
          Keep the conversation going inside Terminal. Share you insights with
          colleagues and pro buddies.
        </p>
      </div>
    </div>
  </div>
</div>
