<div class="section _100vh main_about">
  <h2 class="features-heading _50">
    We work to make sophisticated tech solutions available to everyone
  </h2>
  <div class="feature-container">
    <div class="_50-column left">
      <a href="#" class="video-wrapper w-inline-block"
        ><img
          src="../../../assets/images/5dab27ac65b2d960ff06e1d0_play_button.svg"
          style="opacity: 0.5"
          alt=""
          class="play-button"
      /></a>
    </div>
    <div class="_50-column right">
      <p class="feature-text">
        Our mission is to equip everyone – from the novice trader to experienced
        experts – with the toolbox and insights they need to maximize their
        potential.<br /><br />A corner-stone for the crypto revolution to become
        a long-lasting success is a well-functioning market place that ensures
        that crypto-assets are valued correctly and are traded easily.
      </p>
      <a href="#" class="learn-more-button w-inline-block"
        ><div>About the company and team</div>
        <img
          src="../../../assets/images/5daae5630a97edc85205e47f_arrow_right.svg"
          alt=""
          class="arrow-right"
      /></a>
    </div>
  </div>
</div>
