<div id="overview" class="section _100vh about_video">
  <div class="feature-container about_video">
    <p
      class="feature-text white"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="400"
      data-aos-duration="400"
    >
      We believe that by democratizing the information, the tools and
      technologies all traders can shape the market and can contribute to its
      efficiency.<br /><br />Our mission is to equip everyone – from novice
      trader to experienced experts – with the toolbox and insights they need to
      maximize their potential.
    </p>
    <a
      href="https:\/\/youtu.be\/P27WZS6aFug"
      class="video-wrapper company w-inline-block w-lightbox"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="400"
      data-aos-duration="300"
      ><img
        src="../../../assets/images/5dab27ac65b2d960ff06e1d0_play_button.svg"
        alt=""
        class="play-button"
      />
      <script type="application/json" class="w-json">
        {
          "items": [
            {
              "type": "video",
              "originalUrl": "https:\/\/youtu.be\/P27WZS6aFug",
              "url": "../../../assets/images\/watch?v=P27WZS6aFug",
              "html": "<iframe class=\"embedly-embed\" src=\"\/\/cdn.embedly.com\/widgets\/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FP27WZS6aFug%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DP27WZS6aFug&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FP27WZS6aFug%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\">",
              "thumbnailUrl": "https:\/\/i.ytimg.com\/vi\/P27WZS6aFug\/hqdefault.jpg",
              "width": 940,
              "height": 528
            }
          ]
        }
      </script>
    </a>
  </div>
</div>
