<div class="hero-section-content">
  <div class="hero-text-container video">
    <div class="hero-text-wrapper">
      <div class="typed"></div>
      <div
        class="hero-text hero-text-white"
        data-aos="fade-right"
        data-aos-easing="ease-in-sine"
        data-aos-delay="600"
        data-aos-duration="400"
      >
        {{ "landingpage.hero.hero_subtxt" | translate }}
      </div>
      <div class="hero-text-buttons">
        <a
          (click)="goToWaitList()"
          class="big-button tiny home w-inline-block"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-delay="400"
          data-aos-duration="400"
          ><div>{{ "header.waitlist_btn" | translate }}</div></a
        ><a
          href="#"
          class="big-button tiny outline w-inline-block w-lightbox"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-delay="6000"
          data-aos-duration="800"
          ><img
            src="../../../assets/images/5ed8cc9727e21521492c7821_video.svg"
            alt=""
            class="video-button-icon"
          />
          <div>{{ "landingpage.hero.video_btn_txt" | translate }}</div>
          <script type="application/json" class="w-json">
            {
              "items": [
                {
                  "type": "video",
                  "originalUrl": "https:\/\/youtu.be\/P27WZS6aFug",
                  "url": "../../../assets/images\/watch?v=P27WZS6aFug",
                  "html": "<iframe class=\"embedly-embed\" src=\"\/\/cdn.embedly.com\/widgets\/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FP27WZS6aFug%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DP27WZS6aFug&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FP27WZS6aFug%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\">",
                  "thumbnailUrl": "https:\/\/i.ytimg.com\/vi\/P27WZS6aFug\/hqdefault.jpg",
                  "width": 940,
                  "height": 528
                }
              ]
            }
          </script></a
        >
      </div>
    </div>
  </div>
  <div class="video-overlay"></div>
  <div
    data-video-urls="https://uploads-ssl.webflow.com/5da9ec7e3b1af847ba40cde3/5e3d4dcb8cf4758a2cfb398e_darqube_video-transcode.mp4,https://uploads-ssl.webflow.com/5da9ec7e3b1af847ba40cde3/5e3d4dcb8cf4758a2cfb398e_darqube_video-transcode.webm"
    data-autoplay="true"
    data-loop="true"
    data-wf-ignore="true"
    id="bg-hero-video"
    class="bg-video-section w-background-video w-background-video-atom"
  >
    <video
      preload="auto"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
      autoplay=""
      loop=""
      style="
        background-image: url('../../../assets/images/5e3d4dcb8cf4758a2cfb398e_darqube_video-poster-00001.jpg');
      "
      muted=""
      playsinline="true"
      data-wf-ignore="true"
      data-object-fit="cover"
    >
      <source
        src="https://uploads-ssl.webflow.com/5da9ec7e3b1af847ba40cde3/5e3d4dcb8cf4758a2cfb398e_darqube_video-transcode.mp4"
        data-wf-ignore="true"
      />
      <source
        src="https://uploads-ssl.webflow.com/5da9ec7e3b1af847ba40cde3/5e3d4dcb8cf4758a2cfb398e_darqube_video-transcode.webm"
        data-wf-ignore="true"
      />
    </video>
  </div>
</div>
