<div class="section _100vh main_terminal">
  <h1 class="features-heading">
    The MREX Terminal: the multifamily market in the palm of your hand
  </h1>
  <div class="feature-container">
    <div class="feature-image-wrapper">
      <div class="feature-image">
        <img
          src="../../../assets/images/5daaf6b464390c47cc91d3fa_main_terminal.png"
          sizes="100vw"
          srcset="
            ../../../assets/images/5daaf6b464390c47cc91d3fa_main_terminal-p-500.png  500w,
            ../../../assets/images/5daaf6b464390c47cc91d3fa_main_terminal-p-800.png  800w,
            ../../../assets/images/5daaf6b464390c47cc91d3fa_main_terminal.png       1417w
          "
          alt=""
          class="image"
        />
      </div>
    </div>
    <div
      class="feature-image-container"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-delay="100"
      data-aos-duration="1000"
    >
      <img
        src="../../../assets/images/5ddd7a1e6804602510a1834c_terminal_main.png"
        sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 60vw, 54vw"
        srcset="
          ../../../assets/images/5ddd7a1e6804602510a1834c_terminal_main-p-500.png 500w,
          ../../../assets/images/5ddd7a1e6804602510a1834c_terminal_main.png       786w
        "
        alt=""
        class="main-terminal"
      />
    </div>
    <div class="feature-content-wrapper">
      <div class="product-label terminal">
        <div>Terminal</div>
      </div>
      <h2>Deep Insights and better decisions</h2>
      <p class="feature-text">
        We give you the ultimate set of tools for analyzing the multifamily real
        estate market and more effective investing
      </p>
    </div>
  </div>
</div>
