<div class="menu-bg-remover"></div>
<div
  class="burger-menu-container"
  [ngClass]="{ 'burger-menu-active': mobiledropdown == true }"
>
  <!-- <div class="burger-menu-items-wrapper">
    <div class="burger-menu-item drop w-dropdown">
      <div
        class="burger-drop-menu-toggle w-dropdown-toggle"
        (click)="burgerAboutusDropdown()"
      >
        <div>{{ "header.aboutus" | translate }}</div>
        <img
          src="../../../assets/images/5da9f6e53b1af8f6b3417511_arrow_down.svg"
          alt=""
          class="dropdown-arrow"
        />
      </div>
      <nav
        class="burger-dropdown-list w-dropdown-list"
        [ngClass]="{ 'w--open': aboutnavshow == true }"
      >
        <a
          routerLink="/about-company"
          class="burger-drop-link w-dropdown-link"
          routerLinkActive="w--current"
          >{{ "header.aboutus_company" | translate }}</a
        ><a
          routerLink="/about-career"
          class="burger-drop-link w-dropdown-link"
          routerLinkActive="w--current"
          >{{ "header.aboutus_career" | translate }}</a
        ><a
          routerLink="/about-investor"
          class="burger-drop-link w-dropdown-link"
          routerLinkActive="w--current"
          >{{ "header.aboutus_investorinfo" | translate }}</a
        >
      </nav>
    </div>
    <div class="burger-menu-item drop w-dropdown">
      <div
        class="burger-drop-menu-toggle w-dropdown-toggle"
        (click)="burgerProductDropdown()"
      >
        <div>{{ "header.products" | translate }}</div>
        <img
          src="../../../assets/images/5da9f6e53b1af8f6b3417511_arrow_down.svg"
          alt=""
          class="dropdown-arrow"
        />
      </div>
      <nav
        class="burger-dropdown-list w-dropdown-list"
        [ngClass]="{ 'w--open': productsnavshow == true }"
      >
        <a
          routerLink="/product-terminal"
          class="burger-drop-link w-dropdown-link"
          routerLinkActive="w--current"
          >{{ "header.product_terminal" | translate }}</a
        ><a
          routerLink="/product-tradelab"
          class="burger-drop-link w-dropdown-link"
          routerLinkActive="w--current"
          >{{ "header.product_tradelab" | translate }}</a
        ><a
          routerLink="/product-message"
          class="burger-drop-link w-dropdown-link"
          routerLinkActive="w--current"
          >{{ "header.product_messenger" | translate }}</a
        >
      </nav>
    </div>
    <a
      routerLink="/research"
      routerLinkActive="w--current"
      class="burger-menu-item"
      >{{ "header.research" | translate }}</a
    ><a
      routerLink="/pricing"
      routerLinkActive="w--current"
      class="burger-menu-item"
      >{{ "header.pricing" | translate }}</a
    ><a
      routerLink="/contact"
      routerLinkActive="w--current"
      class="burger-menu-item"
      >{{ "header.contactus" | translate }}</a
    >
    <div class="burger-login-wrapper">
      <a
        href="https://app.darqube.io/auth?redirect=/terminal"
        target="_blank"
        class="header-login-link"
        >{{ "header.login" | translate }}</a
      ><a
        href="https://app.darqube.io/auth/sign_up?redirect=/terminal"
        target="_blank"
        class="header-signup-button w-inline-block"
        ><div>{{ "header.signup" | translate }}</div></a
      >
    </div>
    <div class="burger-social-wrapper">
      <div class="burger-social-links-container">
        <a
          href="https://www.facebook.com/DarQube-1474337082603015/"
          target="_blank"
          class="social-link fb w-inline-block"
        ></a
        ><a
          href="https://twitter.com/darqube_io"
          target="_blank"
          class="social-link twitter w-inline-block"
        ></a
        ><a
          href="https://www.youtube.com/channel/UCFUVH8NK2Lz6dMujan9qNvg"
          target="_blank"
          class="social-link youtube w-inline-block"
        ></a
        ><a
          href="https://www.instagram.com/darqube.io/"
          target="_blank"
          class="social-link instagram w-inline-block"
        ></a
        ><a
          href="https://www.linkedin.com/company/darqube"
          target="_blank"
          class="social-link linkedin w-inline-block"
        ></a
        ><a
          href="https://t.me/joinchat/AAAAAExzsSqwXYFVQpH7EA"
          target="_blank"
          class="social-link telegram w-inline-block"
        ></a>
      </div>
    </div>
  </div> -->
  <div class="burger-menu-bg"></div>
</div>
<div
  class="header-section"
  data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-delay="400"
  data-aos-duration="400"
  *ngIf="toggleheader || producttoggle || abouttoggle"
  [ngClass]="[
    (!scrollposzero && toggleheader) || producttoggle || abouttoggle
      ? 'header-active'
      : 'header-deactive'
  ]"
>
  <div class="header-container">
    <a
      href=""
      aria-current="page"
      class="header-logo w-inline-block w--current"
    ></a>
    <!-- <a class="burger-wrapper w-inline-block"
      ><div
        class="burger"
        (click)="dropdowntoggle()"
        [ngClass]="{ 'burger-active': mobiledropdown == true }"
      ></div
    ></a> -->
    <!-- <div class="header-menu-wrapper">
      <a class="menu-item w-inline-block"
        ><div class="dropdown-menu-toggle" (mouseenter)="enterProduct()">
          <div [ngClass]="{ 'reduce-opacity': producttoggle == true }">
            {{ "header.feature" | translate }}
          </div>
          <img
            src="../../../assets/images/5da9f6e53b1af8f6b3417511_arrow_down.svg"
            alt=""
            class="dropdown-arrow"
            [ngClass]="{ 'rotate-icon': producttoggle == true }"
          /></div
      ></a>
      <a class="menu-item w-inline-block"
        ><div class="dropdown-menu-toggle" (mouseenter)="enterAbout()">
          <div [ngClass]="{ 'reduce-opacity': abouttoggle == true }">
            {{ "header.aboutus" | translate }}
          </div>
          <img
            src="../../../assets/images/5da9f6e53b1af8f6b3417511_arrow_down.svg"
            alt=""
            class="dropdown-arrow"
            [ngClass]="{ 'rotate-icon': abouttoggle == true }"
          /></div
      ></a>

      <a routerLink="/contact" class="menu-item">{{
        "header.contactus" | translate
      }}</a>
    </div> -->
    <div class="header-login-wrapper">
      <a routerLink="/login" target="_blank" class="header-login-link">{{
        "header.login" | translate
      }}</a
      ><a
        routerLink="/signup"
        target="_blank"
        class="header-signup-button w-inline-block"
        ><div>{{ "header.signup" | translate }}</div></a
      >
      <button
        (click)="changeLang()"
        id="setlang_btn"
        class="header-signup-button w-inline-block"
      >
        <div>{{ "header.lang" | translate }}</div>
      </button>
    </div>
  </div>
  <div class="header-menu-bg"></div>
  <!-- <div
    [ngClass]="{
      'header-menu-divider-active': producttoggle == true || abouttoggle == true
    }"
  ></div>
  <div
    *ngIf="producttoggle"
    class="header-menu-items"
    (mouseleave)="leaveProduct()"
  >
    <a
      routerLink="/product-terminal"
      class="header-menu-item red w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="200"
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e3411ce866223a15fe7_terminal_icon.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>{{ "header.product_terminal" | translate }}</div>
          <img
            src="../../../assets/images/5db85a61a8bd4e00c6766c9c_circle_red.svg"
            alt=""
            class="menu-terminal-bullet"
          />
        </div>
        <div class="header-menu-item-text">
          {{ "header.p_term_text" | translate }}
        </div>
      </div></a
    ><a
      routerLink="/product-tradelab"
      class="header-menu-item orange w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="200"
      data-aos-duration="200"
      data
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e33f510ee483001ab6a_tradelab_icon.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>{{ "header.product_tradelab" | translate }}</div>
          <img
            src="../../../assets/images/5daae563feb49a34b9c5543a_tradelab_qube.svg"
            alt=""
            class="menu-terminal-bullet"
          />
        </div>
        <div class="header-menu-item-text">
          {{ "header.p_trade_text" | translate }}
        </div>
      </div></a
    ><a
      routerLink="/product-message"
      class="header-menu-item green w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="200"
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e33cdb0cf0ae0af0cec_messenger_icon.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>{{ "header.product_messenger" | translate }}</div>
          <img
            src="../../../assets/images/5daae5638d1d7c13f27f36fe_messenger_qube.svg"
            alt=""
            class="menu-terminal-bullet"
          />
        </div>
        <div class="header-menu-item-text">
          {{ "header.p_message_text" | translate }}
        </div>
      </div></a
    >
  </div>
  <div
    *ngIf="abouttoggle"
    class="header-menu-items"
    (mouseleave)="leaveAbout()"
  >
    <a
      routerLink="/about-company"
      class="header-menu-item w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="200"
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e32e19ec70623f511d2_company.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>{{ "header.aboutus_company" | translate }}</div>
        </div>
        <div class="header-menu-item-text">
          {{ "header.a_company_text" | translate }}
        </div>
      </div>
    </a>
    <a
      routerLink="/about-career"
      class="header-menu-item w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="200"
      data-aos-duration="200"
    >
      <div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e330775d49ee490fb5c_careers.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>{{ "header.aboutus_career" | translate }}</div>
        </div>
        <div class="header-menu-item-text">
          {{ "header.a_career_text" | translate }}
        </div>
      </div></a
    ><a
      routerLink="/about-investor"
      class="header-menu-item w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="200"
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e3311ce86a37ca15fe3_investor_icon.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>{{ "header.aboutus_investorinfo" | translate }}</div>
        </div>
        <div class="header-menu-item-text">
          {{ "header.a_invest_text" | translate }}
        </div>
      </div></a
    >
  </div> -->
</div>
