<div class="menu-bg-remover"></div>
<div
  class="burger-menu-container"
  [ngClass]="{ 'burger-menu-active': mobiledropdown == true }"
>
  <div class="burger-menu-items-wrapper">
    <div class="burger-menu-item drop w-dropdown">
      <div
        class="burger-drop-menu-toggle w-dropdown-toggle"
        (click)="burgerAboutusDropdown()"
      >
        <div>{{ "header.aboutus" | translate }}</div>
        <img
          src="../../../assets/images/5da9f6e53b1af8f6b3417511_arrow_down.svg"
          alt=""
          class="dropdown-arrow"
        />
      </div>
      <nav
        class="burger-dropdown-list w-dropdown-list"
        [ngClass]="{ 'w--open': aboutnavshow == true }"
      >
        <a href="about.html" class="burger-drop-link w-dropdown-link">Company</a
        ><a href="careers.html" class="burger-drop-link w-dropdown-link"
          >Careers</a
        ><a
          href="investor-information.html"
          class="burger-drop-link w-dropdown-link"
          >Investor Information</a
        >
      </nav>
    </div>
    <div class="burger-menu-item drop w-dropdown">
      <div
        class="burger-drop-menu-toggle w-dropdown-toggle"
        (click)="burgerProductDropdown()"
      >
        <div>Products</div>
        <img
          src="../../../assets/images/5da9f6e53b1af8f6b3417511_arrow_down.svg"
          alt=""
          class="dropdown-arrow"
        />
      </div>
      <nav
        class="burger-dropdown-list w-dropdown-list"
        [ngClass]="{ 'w--open': productsnavshow == true }"
      >
        <a href="terminal.html" class="burger-drop-link w-dropdown-link"
          >Terminal</a
        ><a href="tradelab.html" class="burger-drop-link w-dropdown-link"
          >Tradelab</a
        ><a href="messenger.html" class="burger-drop-link w-dropdown-link"
          >Messenger</a
        >
      </nav>
    </div>
    <a href="research.html" class="burger-menu-item">Research</a
    ><a href="pricing.html" class="burger-menu-item">Pricing</a
    ><a href="b2b.html" class="burger-menu-item">B2b Solutions</a
    ><a href="contact-us.html" class="burger-menu-item">Contact us</a>
    <div class="burger-login-wrapper">
      <a
        href="https://app.darqube.io/auth?redirect=/terminal"
        target="_blank"
        class="header-login-link"
        >Log in</a
      ><a
        href="https://app.darqube.io/auth/sign_up?redirect=/terminal"
        target="_blank"
        class="header-signup-button w-inline-block"
        ><div>Sign up</div></a
      >
    </div>
    <div class="burger-social-wrapper">
      <div class="burger-social-links-container">
        <a
          href="https://www.facebook.com/DarQube-1474337082603015/"
          target="_blank"
          class="social-link fb w-inline-block"
        ></a
        ><a
          href="https://twitter.com/darqube_io"
          target="_blank"
          class="social-link twitter w-inline-block"
        ></a
        ><a
          href="https://www.youtube.com/channel/UCFUVH8NK2Lz6dMujan9qNvg"
          target="_blank"
          class="social-link youtube w-inline-block"
        ></a
        ><a
          href="https://www.instagram.com/darqube.io/"
          target="_blank"
          class="social-link instagram w-inline-block"
        ></a
        ><a
          href="https://www.linkedin.com/company/darqube"
          target="_blank"
          class="social-link linkedin w-inline-block"
        ></a
        ><a
          href="https://t.me/joinchat/AAAAAExzsSqwXYFVQpH7EA"
          target="_blank"
          class="social-link telegram w-inline-block"
        ></a>
      </div>
    </div>
  </div>
  <div class="burger-menu-bg"></div>
</div>
<div
  class="header-section"
  [ngClass]="{ 'header-active': producttoggle == true || abouttoggle == true }"
>
  <div class="header-container">
    <a
      href=""
      aria-current="page"
      class="header-logo w-inline-block w--current"
    ></a
    ><a class="burger-wrapper w-inline-block"
      ><div
        class="burger"
        (click)="dropdowntoggle()"
        [ngClass]="{ 'burger-active': mobiledropdown == true }"
      ></div
    ></a>
    <div class="header-menu-wrapper">
      <a href="#" class="menu-item w-inline-block"
        ><div class="dropdown-menu-toggle" (mouseenter)="enterProduct()">
          <div [ngClass]="{ 'reduce-opacity': producttoggle == true }">
            Products
          </div>
          <img
            src="../../../assets/images/5da9f6e53b1af8f6b3417511_arrow_down.svg"
            alt=""
            class="dropdown-arrow"
            [ngClass]="{ 'rotate-icon': producttoggle == true }"
          /></div
      ></a>
      <a href="#" class="menu-item w-inline-block"
        ><div class="dropdown-menu-toggle" (mouseenter)="enterAbout()">
          <div [ngClass]="{ 'reduce-opacity': abouttoggle == true }">
            {{ "header.aboutus" | translate }}
          </div>
          <img
            src="../../../assets/images/5da9f6e53b1af8f6b3417511_arrow_down.svg"
            alt=""
            class="dropdown-arrow"
            [ngClass]="{ 'rotate-icon': abouttoggle == true }"
          /></div></a
      ><a routerLink="/resarch" class="menu-item">research</a
      ><a routerLink="/pricing" class="menu-item">Pricing</a
      ><a routerLink="/contact" class="menu-item">Contact us</a>
    </div>
    <div class="header-login-wrapper">
      <a routerLink="/login" target="_blank" class="header-login-link">Log in</a
      ><a
        routerLink="/signup"
        target="_blank"
        class="header-signup-button w-inline-block"
        ><div>Sign up</div></a
      >
      <button
        (click)="changeLang()"
        id="setlang_btn"
        class="header-signup-button w-inline-block"
      >
        <div>{{ "header.lang" | translate }}</div>
      </button>
    </div>
  </div>
  <div class="header-menu-bg"></div>
  <div
    [ngClass]="{
      'header-menu-divider-active': producttoggle == true || abouttoggle == true
    }"
  ></div>
  <div
    *ngIf="producttoggle"
    class="header-menu-items"
    (mouseleave)="leaveProduct()"
  >
    <a
      routerLink="/product-terminal"
      class="header-menu-item red w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="200"
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e3411ce866223a15fe7_terminal_icon.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>Terminal</div>
          <img
            src="../../../assets/images/5db85a61a8bd4e00c6766c9c_circle_red.svg"
            alt=""
            class="menu-terminal-bullet"
          />
        </div>
        <div class="header-menu-item-text">
          Pro analytical tools for smarter trading decisions
        </div>
      </div></a
    ><a
      routerLink="/product-tradelab"
      class="header-menu-item orange w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="200"
      data-aos-duration="200"
      data
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e33f510ee483001ab6a_tradelab_icon.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>Tradelab</div>
          <img
            src="../../../assets/images/5daae563feb49a34b9c5543a_tradelab_qube.svg"
            alt=""
            class="menu-terminal-bullet"
          />
        </div>
        <div class="header-menu-item-text">
          Bot Builder, Live Trading, Marketplace
        </div>
      </div></a
    ><a
      routerLink="/product-message"
      class="header-menu-item green w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="200"
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e33cdb0cf0ae0af0cec_messenger_icon.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>Messenger</div>
          <img
            src="../../../assets/images/5daae5638d1d7c13f27f36fe_messenger_qube.svg"
            alt=""
            class="menu-terminal-bullet"
          />
        </div>
        <div class="header-menu-item-text">
          Communication tool for the global financial community
        </div>
      </div></a
    >
  </div>
  <div
    *ngIf="abouttoggle"
    class="header-menu-items"
    (mouseleave)="leaveAbout()"
  >
    <a
      routerLink="/about-company"
      class="header-menu-item w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="200"
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e32e19ec70623f511d2_company.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>Company</div>
        </div>
        <div class="header-menu-item-text">
          Learn more about the company and team
        </div>
      </div>
    </a>
    <a
      routerLink="/about-career"
      class="header-menu-item w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="200"
      data-aos-duration="200"
    >
      <div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e330775d49ee490fb5c_careers.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>Careers</div>
        </div>
        <div class="header-menu-item-text">
          Want to become a part of Darqube team?
        </div>
      </div></a
    ><a
      routerLink="/about-investor"
      class="header-menu-item w-inline-block"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="200"
      ><div class="header-menu-item-content">
        <div class="header-menu-item-heading">
          <img
            src="../../../assets/images/5dbb1e3311ce86a37ca15fe3_investor_icon.svg"
            alt=""
            class="menu-terminal-icon"
          />
          <div>Investor information</div>
        </div>
        <div class="header-menu-item-text">
          Your investing opportunities in Darqube
        </div>
      </div></a
    >
  </div>
  <div class="about-nav-section header">
    <div
      data-collapse="small"
      data-animation="default"
      data-duration="400"
      role="banner"
      class="about-navbar w-nav"
    >
      <div class="about-nav-container w-container">
        <nav role="navigation" class="w-nav-menu">
          <a href="#" class="nav-menu-item first w-nav-link">Overview</a
          ><a href="#" class="nav-menu-item w-nav-link">Team</a
          ><a href="#" class="nav-menu-item w-nav-link">Values</a
          ><a href="#" class="nav-menu-item w-nav-link">Contacts</a
          ><a href="#" class="nav-menu-item w-nav-link">Questions</a>
        </nav>
      </div>
    </div>
  </div>
</div>
