<div class="section wide">
  <h2
    class="h2-centered"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="400"
    data-aos-duration="700"
  >
    Join Pro Communities or start your own
  </h2>
  <div
    class="subheading wide"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="500"
    data-aos-duration="700"
  >
    Explore the Rooms of market pros and industry vets for access to exclusive
    content. Open and Private. Free and with paid subscription.
  </div>
  <div class="rooms-container">
    <div
      class="rooms-phone"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="400"
    >
      <img
        src="../../../assets/images/5db71d3e2341e609daa2bbd2_messenger_rooms.png"
        alt=""
      />
    </div>
    <div class="rooms-right-column">
      <div class="rooms-row">
        <div
          class="room-box"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-delay="100"
          data-aos-duration="400"
        >
          <img
            src="../../../assets/images/5db71d3efbe1d7e89cb376e6_room_1.png"
            alt=""
            class="room-avatar"
          /><a href="#" class="room-name">trading4living</a>
          <div class="room-subscribers">89,416 subscribers</div>
          <div class="room-description">
            Real-time daytrading of stocks + markets. Trading breakouts /
            breakdowns to lock in fast profits.
          </div>
          <div class="room-category">
            <div>Day Trading</div>
          </div>
          <div class="room-price-container">
            <div class="strategy-price">$25.99/mo</div>
            <a
              href="https://chat.darqube.io/auth/sign_up"
              target="_blank"
              class="small-button w-inline-block"
              ><div>SubscRibe</div></a
            >
          </div>
        </div>
        <div
          class="room-box"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-delay="400"
          data-aos-duration="400"
        >
          <img
            src="../../../assets/images/5db71d3fcf5cf1089a0766dc_room_2.png"
            alt=""
            class="room-avatar"
          /><a href="#" class="room-name">longterminvestors</a>
          <div class="room-subscribers">13,155 subscribers</div>
          <div class="room-description">
            Investing is always long term unless you're planning on getting hit
            by a bus - Think & act that way
          </div>
          <div class="room-category">
            <div>Long Term Investing</div>
          </div>
          <div class="room-price-container">
            <div class="strategy-price green">Free</div>
            <a
              href="https://chat.darqube.io/auth/sign_up"
              target="_blank"
              class="small-button w-inline-block"
              ><div>SubscRibe</div></a
            >
          </div>
        </div>
        <div
          class="room-box hidden"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="400"
        >
          <img
            src="../../../assets/images/5db71d3f68a1430f59003781_room_3.png"
            alt=""
            class="room-avatar"
          /><a href="#" class="room-name">TradeOptions</a>
          <div class="room-subscribers">29,975 subscribers</div>
          <div class="room-description">
            Option trades and strategies. Provide detailed context w/ ideas. All
            links must include description.
          </div>
          <div class="room-category">
            <div>Education</div>
          </div>
          <div class="room-price-container">
            <div class="strategy-price">$49.99/mo</div>
            <a
              href="https://chat.darqube.io/auth/sign_up"
              target="_blank"
              class="small-button w-inline-block"
              ><div>SubscRibe</div></a
            >
          </div>
          <div class="rooms-overlay"></div>
        </div>
      </div>
      <div class="rooms-buttons">
        <a
          href="https://chat.darqube.io/auth/sign_up"
          target="_blank"
          class="big-button light-black tiny push w-inline-block"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-delay="400"
          data-aos-duration="700"
          ><div>Discover Pro rooms</div></a
        ><a
          href="https://chat.darqube.io/auth/sign_up"
          target="_blank"
          class="big-button tiny w-inline-block"
          data-aos="fade-right"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="700"
          ><div>Create a room</div></a
        >
      </div>
    </div>
  </div>
</div>
<div class="section dark">
  <h2
    class="h2-centered"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="400"
    data-aos-duration="700"
  >
    Security and Privacy by default
  </h2>
  <div class="_3-columns-wrapper last">
    <div
      class="feature-column"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="400"
    >
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5db7392b8d4580ff257d97b3_encryption.svg"
            alt=""
          />
        </div>
        <h3>End-to-end encryption</h3>
      </div>
      <p class="icons-text">
        Only you and the person you're communicating with can read what is sent.
        Nobody in between, not even us
      </p>
    </div>
    <div
      class="feature-column"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="400"
      data-aos-duration="400"
    >
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5db71d4d07e7f658d3f8f83a_only_contacts.svg"
            alt=""
          />
        </div>
        <h3>Only contacts you accepted</h3>
      </div>
      <p class="icons-text">
        Our messenger works on requests base. So nobody can write or disturb you
        if you haven't approved their request
      </p>
    </div>
    <div
      class="feature-column"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="700"
      data-aos-duration="400"
    >
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5db71d4dfbe1d74283b37728_speak_freely.svg"
            alt=""
          />
        </div>
        <h3>Speak Freely</h3>
      </div>
      <p class="icons-text">
        Just like your messages, Darqube Messenger calls are end-to-end
        encrypted so Darqube and third parties can't listen to them.
      </p>
    </div>
  </div>
</div>
