<div id="values" class="section wide">
  <div
    class="custom-h1"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="300"
    data-aos-duration="400"
  >
    Our values<span class="highlight"></span>
  </div>
  <div class="_3-columns-wrapper last">
    <div
      class="feature-column left"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="400"
    >
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dc2bba2e9c6fe88ec1de9a9_disruptive.svg"
            alt=""
            class="image-4"
          />
        </div>
        <h3>Disruptive</h3>
      </div>
      <p class="icons-text">
        Smart tools are powered by ground-breaking technology. Our greatest
        driver is building innovative trading solutions that break down barriers
        and create opportunities.
      </p>
    </div>
    <div
      class="feature-column left"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="400"
      data-aos-duration="400"
    >
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dc2bba2983559cb804dfd8d_adaptable.svg"
            alt=""
            class="image-4"
          />
        </div>
        <h3>Adaptable</h3>
      </div>
      <p class="icons-text">
        Adapting rapidly to agile market conditions is embedded into our DNA. We
        embrace changes and take prompt actions when it comes to staying
        competitive and meeting the needs of our target audience.
      </p>
    </div>
    <div
      class="feature-column left"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="400"
    >
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dc2bba25e00791d5ae7d134_efficient.svg"
            alt=""
            class="image-4"
          />
        </div>
        <h3>Efficient</h3>
      </div>
      <p class="icons-text">
        A corner-stone to performance is lightning decision making. We’re
        blending innovative technology and human expertise to make the trading
        experience efficient.
      </p>
    </div>
    <div
      class="feature-column left"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="600"
      data-aos-duration="400"
    >
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dc2bba2e9c6fe21831de9a8_empowering.svg"
            alt=""
            class="image-4"
          />
        </div>
        <h3>Empowering</h3>
      </div>
      <p class="icons-text">
        We are a community-driven platform, that fosters taking ownership and
        action. We put the power of AI and advanced technologies into the hands
        of the user with a click of a button.
      </p>
    </div>
  </div>
</div>
