<div class="section _100vh mobile">
  <h2 class="features-heading">
    {{ "landingpage.mobile.m_sh_txt" | translate }}
  </h2>
  <div class="subheading">
    <p>
      {{ "landingpage.mobile.m_s_txt" | translate }}
    </p>
  </div>
  <div class="appstore-container">
    <a (click)="goToWaitList()" class="big-button black mobile w-inline-block"
      ><div>{{ "header.waitlist_btn" | translate }}</div></a
    >
  </div>
  <img
    src="{{ 'landingpage.mobile.m_img_src' | translate }}"
    alt=""
    class="mobile-3d"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="100"
    data-aos-duration="500"
    data-aos-anchor-placement="top-bottom"
  />
</div>
