<div class="section _100vh mobile">
  <h2 class="features-heading">Soon on mobile!</h2>
  <div class="subheading">
    <p>
      We are building a rockstar mobile application with all the tools you need
      when you're on the go
    </p>
  </div>
  <div class="appstore-container">
    <a href="mobile-app.html" class="big-button black mobile w-inline-block"
      ><div>JOIN WAITLIST</div></a
    ><a href="#" class="appstore-shield w-inline-block"
      ><img
        src="../../../assets/images/5dab38ad4c72cc7d39e9a981_appstore.png"
        alt=""
    /></a>
  </div>
  <img
    src="../../../assets/images/5dab3a30f43e6fd4fedac938_mobile.png"
    sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 74vw"
    srcset="
      ../../../assets/images/5dab3a30f43e6fd4fedac938_mobile-p-500.png 500w,
      ../../../assets/images/5dab3a30f43e6fd4fedac938_mobile.png       829w
    "
    alt=""
    class="mobile-3d"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="100"
    data-aos-duration="500"
    data-aos-anchor-placement="top-bottom"
  />
</div>
