<div class="section _100vh mobile">
  <h2 class="features-heading">Soon on mobile!</h2>
  <div class="subheading">
    We are building a rockstar mobile application with all the tools you need
    when you're on the go
  </div>
  <div class="appstore-container">
    <a href="mobile-app.html" class="big-button black mobile w-inline-block"
      ><div>about mobile app</div></a
    ><a href="#" class="appstore-shield w-inline-block"
      ><img
        src="../../../assets/images/5dab38ad4c72cc7d39e9a981_appstore.png"
        alt=""
    /></a>
  </div>
  <img
    src="../../../assets/images/5dab3a30f43e6fd4fedac938_mobile.png"
    sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 74vw"
    srcset="
      ../../../assets/images/5dab3a30f43e6fd4fedac938_mobile-p-500.png 500w,
      ../../../assets/images/5dab3a30f43e6fd4fedac938_mobile.png       829w
    "
    alt=""
    class="mobile-3d"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="100"
    data-aos-duration="500"
    data-aos-anchor-placement="top-bottom"
  />
</div>
<div class="section _100vh">
  <div class="_4-columns-wrapper">
    <div class="info-column heading">
      <h2>Let's get to know better</h2>
    </div>
    <div
      class="info-column"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-delay="100"
      data-aos-duration="500"
    >
      <h3 class="green-heading">Research & News</h3>
      <a href="aqua-partnership.html" class="news-heading"
        >Aqua announces partnership with fintech innovator Darqube</a
      >
      <p class="info-block-text">
        Darqube to host revolutionary Aqua tradable indices based on human
        success. Aqua, the next generation financial services company which uses
        Big Data and AI-analytics to construct tradable indices based on humans,
        will be launching its unique alt-assets on tech innovation platform
        Darqube.
      </p>
      <div class="info-block-date">09-11-2020</div>
      <a href="research.html" class="info-block-link w-inline-block"
        ><div>Discover all</div>
        <img
          src="../../../assets/images/5dab40ef65b2d90cb90773c5_arrow_right_green.svg"
          alt=""
          class="arrow-right-green"
      /></a>
    </div>
    <div
      class="info-column"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-delay="400"
      data-aos-duration="500"
    >
      <h3 class="green-heading">Have questions?</h3>
      <p class="info-block-text">
        We're here to help. <br /><br />We want our products to provide you
        optimum efficiency. Find technical support, product updates, training
        sessions and more.
      </p>
      <a href="help-center.html" class="info-block-link w-inline-block"
        ><div>Help center</div>
        <img
          src="../../../assets/images/5dab40ef65b2d90cb90773c5_arrow_right_green.svg"
          alt=""
          class="arrow-right-green" /></a
      ><a href="contact-us.html" class="info-block-link _2 w-inline-block"
        ><div>Talk to a real person</div>
        <img
          src="../../../assets/images/5dab40ef65b2d90cb90773c5_arrow_right_green.svg"
          alt=""
          class="arrow-right-green"
      /></a>
    </div>
    <div
      class="info-column"
      data-aos="fade-left"
      data-aos-easing="ease-in-sine"
      data-aos-delay="700"
      data-aos-duration="500"
    >
      <h3 class="green-heading">Careers</h3>
      <p class="info-block-text">
        Right now at Darqube you'll have a unique opportunity to reshape a
        market-leading company and the industry it serves.<br /><br />We're
        reshaping the financial industry. Now's your chance to be a part of it.
      </p>
      <a href="careers.html" class="info-block-link w-inline-block"
        ><div>Join us</div>
        <img
          src="../../../assets/images/5dab40ef65b2d90cb90773c5_arrow_right_green.svg"
          alt=""
          class="arrow-right-green"
      /></a>
    </div>
  </div>
</div>
