<div class="hero-products soon">
  <h1 class="product-h1 top">{{ "terms.header" | translate }}</h1>
  <div class="container-1600 text">
    <div class="w-richtext">
      <p>
        {{ "terms.main_txt" | translate }}
      </p>
      <h2>
        {{ "terms.usepolicy_h_title" | translate }}
      </h2>
      <p>
        {{ "terms.usepolicy_txt_1" | translate }}
      </p>
      <p>
        {{ "terms.usepolicy_txt_2" | translate }}
      </p>
      <h2>
        {{ "terms.caution_h_title" | translate }}
      </h2>
      <p>
        {{ "terms.caution_txt_1" | translate }}
      </p>
      <p>
        {{ "terms.caution_txt_2" | translate }}
      </p>
      <p>
        {{ "terms.caution_txt_3" | translate }}
      </p>
      <p>
        {{ "terms.caution_txt_4" | translate }}
      </p>
      <h2>{{ "terms.copyright_h_title" | translate }}</h2>
      <p>
        {{ "terms.copyright_txt_1" | translate }}
      </p>
      <p>
        {{ "terms.copyright_txt_2" | translate }}
      </p>
      <p>
        {{ "terms.copyright_txt_3" | translate }}
      </p>
      <h2>{{ "terms.trademark_h_title" | translate }}</h2>
      <p>
        {{ "terms.trademark_txt" | translate }}
      </p>
      <h2>{{ "terms.trademark_h_title" | translate }}</h2>
      <p>
        {{ "terms.trademark_txt" | translate }}
      </p>

      <h2>
        {{ "terms.submission_h_title" | translate }}
      </h2>
      <p>
        {{ "terms.submission_txt_1" | translate }}
      </p>
      <p>
        {{ "terms.submission_txt_2" | translate }}
      </p>
      <p>
        {{ "terms.submission_txt_3" | translate }}
      </p>
      <p>
        {{ "terms.submission_txt_4" | translate }}
      </p>

      <h2>{{ "terms.thirdparty_h_title" | translate }}</h2>
      <p>
        {{ "terms.thirdparty_txt" | translate }}
      </p>
      <h2>{{ "terms.websitelink_h_title" | translate }}</h2>
      <p>{{ "terms.websitelink_txt" | translate }}</p>

      <h2>{{ "terms.personalinfo_h_title" | translate }}</h2>
      <p>{{ "terms.personalinfo_txt" | translate }}</p>

      <h2>
        {{ "terms.disclaimer_h_title" | translate }}
      </h2>
      <p>
        {{ "terms.disclaimer_txt_1" | translate }}
      </p>
      <p>
        {{ "terms.disclaimer_txt_2" | translate }}
      </p>
      <p>
        {{ "terms.disclaimer_txt_3" | translate }}
      </p>
      <p>
        {{ "terms.disclaimer_txt_4" | translate }}
      </p>
      <p>
        {{ "terms.disclaimer_txt_5" | translate }}
      </p>
      <h2>{{ "terms.compensation_h_title" | translate }}</h2>
      <p>{{ "terms.compnesation_txt" | translate }}</p>

      <h2>{{ "terms.applicablelaw_h_title" | translate }}</h2>
      <p>{{ "terms.applicablelaw_txt" | translate }}</p>
    </div>
  </div>
</div>
