<div class="hero-products soon">
  <h1 class="product-h1 top">{{ "terms.header" | translate }}</h1>
  <div class="container-1600 text">
    <div class="w-richtext">
      <p>
        {{ "terms.main_txt_1" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_2" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_3" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_4" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_5" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_6" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_7" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_8" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_9" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_10" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_11" | translate }}
      </p>
      <p>
        {{ "terms.main_txt_12" | translate }}
      </p>

      <h2>
        <p>
          {{ "terms.cookie_h_title" | translate }}
        </p>
      </h2>
      <p>
        {{ "terms.cookie_txt_1" | translate }}
      </p>
      <p>
        {{ "terms.cookie_txt_2" | translate }}
      </p>
      <p>
        {{ "terms.cookie_txt_3" | translate }}
      </p>

      <h2>{{ "terms.retention_h_title" | translate }}</h2>
      <p>
        {{ "terms.retention_txt" | translate }}
      </p>
      <h2>{{ "terms.contactus_h_title" | translate }}</h2>
      <p>{{ "terms.contactus_txt" | translate }}</p>
      <h2>‍</h2>
    </div>
  </div>
</div>
