<div id="marketplace" class="section wide">
  <div
    class="custom-h1"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="100"
    data-aos-duration="700"
  >
    Marketplace
  </div>
  <div
    class="subheading wide"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="300"
    data-aos-duration="700"
  >
    Helps you sell/lease a personally created bot in the Bot Builder to other
    Darqube users, but also buy/rent any trading bot and execute it via the Live
    Trader.
  </div>
  <div
    class="marketplace-screen"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="700"
    data-aos-duration="700"
  >
    <img
      src="../../../assets/images/5db1d03cca387163f01ae464_marketplace.png"
      srcset="
        ../../../assets/images/5db1d03cca387163f01ae464_marketplace-p-500.png  500w,
        ../../../assets/images/5db1d03cca387163f01ae464_marketplace-p-800.png  800w,
        ../../../assets/images/5db1d03cca387163f01ae464_marketplace.png       1692w
      "
      sizes="(max-width: 1692px) 100vw, 1692px"
      alt=""
      class="marketplace-screen-pic"
    /><img
      src="../../../assets/images/5db1d03cca387163f01ae464_marketplace.png"
      srcset="
        ../../../assets/images/5db1d03cca387163f01ae464_marketplace-p-500.png  500w,
        ../../../assets/images/5db1d03cca387163f01ae464_marketplace-p-800.png  800w,
        ../../../assets/images/5db1d03cca387163f01ae464_marketplace.png       1692w
      "
      sizes="(max-width: 1692px) 100vw, 1692px"
      alt=""
      class="marketplace-screen-pic ghost"
    />
  </div>
  <div class="marketplace-items">
    <div
      class="marketplace-item _1"
      data-aos="zoom-in-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="700"
    >
      <div class="marketplace-item-header">
        <img
          src="../../../assets/images/5db1d01d383b8f199639c6c4_avatar_1.png"
          alt=""
        /><a href="#" class="strategy-author-name">Scarlett Katzen</a>
        <div class="strategy-asset">
          <div>Crypto</div>
        </div>
      </div>
      <h3>LongShort Bitcoin</h3>
      <div class="strategy-stats">
        <div>16 weeks</div>
        <img
          src="../../../assets/images/5db1d5bbadcfe240e316e9fa_small_bullet.svg"
          alt=""
          class="small-bullet"
        />
        <div>231 users</div>
      </div>
      <img
        src="../../../assets/images/5db1c02e0cf70d7ea74b4328_graph_1.svg"
        alt=""
        class="strategy-graph"
      />
      <div class="strategy-return-container">
        <a href="#" class="strategy-return">Return</a>
        <div class="strategy-return-amount">
          <img
            src="../../../assets/images/5db1d7265dc2105e7b6db3e2_triangle_green.svg"
            alt=""
            class="triangle-green"
          />
          <div>4.43%</div>
        </div>
      </div>
      <div class="strategy-price-container">
        <div class="strategy-price">$24.99/mo</div>
        <a
          href="https://app.darqube.io/auth/sign_up?redirect=/tradelab"
          target="_blank"
          class="small-button w-inline-block"
          ><div>More info</div></a
        >
      </div>
    </div>
    <div
      class="marketplace-item _2"
      data-aos="zoom-in-right"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="700"
    >
      <div class="marketplace-item-header">
        <img
          src="../../../assets/images/5db1d01d71e0ea543c4195ad_avatar_2.png"
          alt=""
        /><a href="#" class="strategy-author-name">Barry Newman</a>
        <div class="strategy-asset">
          <div>Crypto</div>
        </div>
      </div>
      <h3>Momentum Alpha</h3>
      <div class="strategy-stats">
        <div>3 weeks</div>
        <img
          src="../../../assets/images/5db1d5bbadcfe240e316e9fa_small_bullet.svg"
          alt=""
          class="small-bullet"
        />
        <div>82 users</div>
      </div>
      <img
        src="../../../assets/images/5db1c02d66e7cc7b04a14a85_graph_2.svg"
        alt=""
        class="strategy-graph"
      />
      <div class="strategy-return-container">
        <a href="#" class="strategy-return">Return</a>
        <div class="strategy-return-amount">
          <img
            src="../../../assets/images/5db1d7265dc2105e7b6db3e2_triangle_green.svg"
            alt=""
            class="triangle-green"
          />
          <div>1.2%</div>
        </div>
      </div>
      <div class="strategy-price-container">
        <div class="strategy-price">$25.99/mo</div>
        <a
          href="https://app.darqube.io/auth/sign_up?redirect=/tradelab"
          target="_blank"
          class="small-button w-inline-block"
          ><div>More info</div></a
        >
      </div>
    </div>
    <div
      class="marketplace-item _3"
      data-aos="zoom-in-right"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="700"
    >
      <div class="marketplace-item-header">
        <img
          src="../../../assets/images/5db1d01dadcfe24d0c16b852_avatar_3.png"
          alt=""
        /><a href="#" class="strategy-author-name">Steve O'Neil</a>
        <div class="strategy-asset">
          <div>Equities</div>
        </div>
      </div>
      <h3>SMA Crossover</h3>
      <div class="strategy-stats">
        <div>9 weeks</div>
        <img
          src="../../../assets/images/5db1d5bbadcfe240e316e9fa_small_bullet.svg"
          alt=""
          class="small-bullet"
        />
        <div>114 users</div>
      </div>
      <img
        src="../../../assets/images/5db1c02d8e0709455108133b_graph_3.svg"
        alt=""
        class="strategy-graph"
      />
      <div class="strategy-return-container">
        <a href="#" class="strategy-return">Return</a>
        <div class="strategy-return-amount">
          <img
            src="../../../assets/images/5db1d7265dc2105e7b6db3e2_triangle_green.svg"
            alt=""
            class="triangle-green"
          />
          <div>11.02%</div>
        </div>
      </div>
      <div class="strategy-price-container">
        <div class="strategy-price">$19.99/mo</div>
        <a
          href="https://app.darqube.io/auth/sign_up?redirect=/tradelab"
          target="_blank"
          class="small-button w-inline-block"
          ><div>More info</div></a
        >
      </div>
    </div>
    <div
      class="marketplace-item _4"
      data-aos="zoom-in-right"
      data-aos-easing="linear"
      data-aos-delay="700"
      data-aos-duration="700"
    >
      <div class="marketplace-item-header">
        <img
          src="../../../assets/images/5db1d01d7abe5ceb6ac7dc15_avatar_4.png"
          alt=""
        /><a href="#" class="strategy-author-name">Larry Page</a>
        <div class="strategy-asset">
          <div>FX</div>
        </div>
      </div>
      <h3>HaramiDoji XRP</h3>
      <div class="strategy-stats">
        <div>24 weeks</div>
        <img
          src="../../../assets/images/5db1d5bbadcfe240e316e9fa_small_bullet.svg"
          alt=""
          class="small-bullet"
        />
        <div>49 users</div>
      </div>
      <img
        src="../../../assets/images/5db1c02d0cf70d0d124b4326_graph_4.svg"
        alt=""
        class="strategy-graph"
      />
      <div class="strategy-return-container">
        <a href="#" class="strategy-return">Return</a>
        <div class="strategy-return-amount">
          <img
            src="../../../assets/images/5db1d7265dc2105e7b6db3e2_triangle_green.svg"
            alt=""
            class="triangle-green"
          />
          <div>9.21%</div>
        </div>
      </div>
      <div class="strategy-price-container">
        <div class="strategy-price">$124.99/mo</div>
        <a
          href="https://app.darqube.io/auth/sign_up?redirect=/tradelab"
          target="_blank"
          class="small-button w-inline-block"
          ><div>More info</div></a
        >
      </div>
    </div>
  </div>
  <div class="marketplace-cta-container">
    <a
      href="https://app.darqube.io/auth/sign_up?redirect=/tradelab"
      target="_blank"
      class="big-button light-black w-inline-block"
      data-aos="zoom-in-right"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="700"
      ><div>More Pro strategies</div></a
    >
    <div class="spacer-20"></div>
    <a
      href="https://app.darqube.io/auth/sign_up?redirect=/tradelab"
      target="_blank"
      class="big-button orange w-inline-block"
      data-aos="zoom-in-right"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="700"
      ><div>Create a Strategy</div></a
    >
  </div>
  <div class="feature-item">
    <div
      class="feature-item-column pic"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db1bb350cf70df9a54b1d54_05.png"
        alt=""
        class="picture-shift"
      />
    </div>
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="300"
          data-aos-duration="700"
        >
          Search, rent, run, profit!
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="500"
          data-aos-duration="700"
        >
          Search profitable quantitative strategies and launch their automated
          trading with a click of a button. You can also contact bot creators
          and ask details regarding their crafted strategies
        </p>
      </div>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="100"
          data-aos-duration="700"
        >
          Loan your strategies <br />and make money
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="300"
          data-aos-duration="700"
        >
          Join other authors and creators and make profit by selling/loaning
          your strategies to other Darqube users.
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db1bb39adcfe20535160eb0_06.png"
        alt=""
        class="picture-shift last"
      />
    </div>
  </div>
  <div class="icons-4-columns">
    <h2
      class="features-heading"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="700"
    >
      Much more than just strategies
    </h2>
    <div class="_3-columns-wrapper last">
      <div
        class="feature-column"
        data-aos="zoom-in-right"
        data-aos-easing="linear"
        data-aos-delay="300"
        data-aos-duration="700"
      >
        <div class="feature-icon-container">
          <div class="feature-icon dark">
            <img
              src="../../../assets/images/5db1c02d8e0709b99508133c_bots.svg"
              alt=""
            />
          </div>
          <h3>Trading bots</h3>
        </div>
        <p class="icons-text">
          Crypto for now. FOREX and other asset classes in future
        </p>
      </div>
      <div
        class="feature-column"
        data-aos="zoom-in-right"
        data-aos-easing="linear"
        data-aos-delay="500"
        data-aos-duration="700"
      >
        <div class="feature-icon-container">
          <div class="feature-icon dark">
            <img
              src="../../../assets/images/5db1c02cadcfe2e83f16532c_data.svg"
              alt=""
            />
          </div>
          <h3>Data</h3>
        </div>
        <p class="icons-text">
          Daily, hourly, minute, tick prices. Executed transactions. Order book
          data.
        </p>
      </div>
      <div
        class="feature-column"
        data-aos="zoom-in-right"
        data-aos-easing="linear"
        data-aos-delay="700"
        data-aos-duration="700"
      >
        <div class="feature-icon-container">
          <div class="feature-icon dark">
            <img
              src="../../../assets/images/5db1c02badcfe25d2416532a_indicators.svg"
              alt=""
            />
          </div>
          <h3>Custom indicators<br />& functions</h3>
        </div>
        <p class="icons-text">
          In future people will also have ability to create custom indicators
          and functions and also sell them
        </p>
      </div>
      <div
        class="feature-column"
        data-aos="zoom-in-right"
        data-aos-easing="linear"
        data-aos-delay="900"
        data-aos-duration="700"
      >
        <div class="feature-icon-container">
          <div class="feature-icon dark">
            <img
              src="../../../assets/images/5db1c02cadcfe2a42e16532d_socialization.svg"
              alt=""
            />
          </div>
          <h3>Socialization<br />& Community Feed</h3>
        </div>
        <p class="icons-text">
          Add comment on a bot, see user profile, strategy chart. That's like a
          pro traders social network
        </p>
      </div>
    </div>
  </div>
</div>
