<div class="section _100vh icons_home">
  <h2 class="features-heading">Unique features you were waiting for</h2>
  <div class="_3-columns-wrapper">
    <div class="feature-column">
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dab314306d077f480dc088b_no_coding.svg"
            alt=""
          />
        </div>
        <h3>Algo trading with no coding</h3>
      </div>
      <p class="feature-description-text">
        Use a pre-defined set of components and design your strategy with
        minimal clicks of the mouse
      </p>
    </div>
    <div class="feature-column">
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dab3143d26b0ada01d079e8_all_assets.svg"
            alt=""
          />
        </div>
        <h3>Any type of financial<br />instruments and orders</h3>
      </div>
      <p class="feature-description-text">
        Not only crypto, you have them all. FIX object layer supports any type
        of financial instruments. And you have multiple order types available to
        fit all of your ideas.
      </p>
    </div>
    <div class="feature-column">
      <div class="feature-icon-container">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dab314365b2d9c6bd071490_marketplace_types.svg"
            alt=""
          />
        </div>
        <h3>Marketplace of strategies,<br />data and more</h3>
      </div>
      <p class="feature-description-text">
        Search profitable quantitative strategies and launch their automated
        trading with a click of a button. Or loan your strategies and make
        money.
      </p>
    </div>
  </div>
  <div class="_3-columns-wrapper last">
    <div class="feature-column">
      <div class="feature-icon-container short">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dab3143e9af6e95bfe16c22_pro_communities.svg"
            alt=""
          />
        </div>
        <h3>Pro Communities</h3>
      </div>
      <p class="feature-description-text">
        Explore the Rooms of market pros and industry vets for access to
        exclusive content. Open and Private. Free and with paid subscription.
      </p>
    </div>
    <div class="feature-column">
      <div class="feature-icon-container short">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dab3142f43e6fc327da9da8_news_monitoring.svg"
            alt=""
          />
        </div>
        <h3>Monitor latest news and twits</h3>
      </div>
      <p class="feature-description-text">
        Make better trade decisions and stay informed right in the Messenger,
        Terminal and TradeLab environment
      </p>
    </div>
    <div class="feature-column">
      <div class="feature-icon-container short">
        <div class="feature-icon">
          <img
            src="../../../assets/images/5dab3142f43e6f37cdda9da9_custom_layout.svg"
            alt=""
          />
        </div>
        <h3>Customizable layout</h3>
      </div>
      <p class="feature-description-text">
        We've built a fast and reliable framework so now you can arrange
        components and widgets to personal needs
      </p>
    </div>
  </div>
</div>
