<div class="about-hero-section careers">
  <div class="hero-text-container about">
    <div class="hero-text-wrapper about">
      <div
        class="hero-heading"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-delay="300"
        data-aos-duration="400"
      >
        Careers
      </div>
      <div
        class="hero-text about"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-delay="500"
        data-aos-duration="400"
      >
        We're reshaping the financial industry. Now's your chance to be a part
        of it.
      </div>
    </div>
  </div>
  <div class="video-overlay"></div>
</div>
<div class="section _100vh last">
  <div class="container">
    <h3 class="custom-h3">Join us</h3>
    <div class="_4-columns-wrapper about">
      <div class="info-column heading careers">
        <div class="have-questions-text careers">
          Right now at Darqube we don't have any vacancies available. But you
          can still send us your CV and short story about yourself on
          <a
            href="cdn-cgi/l/email-protection.html#eb8884859f8a889fab8f8a999a9e898ec58284"
            ><span
              class="__cf_email__"
              data-cfemail="42212d2c3623213602262330333720276c2b2d"
              >[email&#160;protected]</span
            ></a
          ><br />
        </div>
      </div>
      <div class="questions-container about top">
        <a href="contact-us.html" class="question-row w-inline-block"
          ><div>Our contacts</div>
          <img
            src="../../../assets/images/5dab40ef65b2d90cb90773c5_arrow_right_green.svg"
            alt=""
            class="arrow-right-faq" /></a
        ><a href="about.html" class="question-row w-inline-block"
          ><div>About the company</div>
          <img
            src="../../../assets/images/5dab40ef65b2d90cb90773c5_arrow_right_green.svg"
            alt=""
            class="arrow-right-faq"
        /></a>
      </div>
    </div>
  </div>
</div>
