<div class="section _100vh main_messenger">
  <div class="feature-container">
    <div
      class="feature-image-container main_messenger"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-delay="100"
      data-aos-duration="1000"
    >
      <img
        src="{{ 'landingpage.main_message.mess_img_src' | translate }}"
        alt=""
        class="main-messenger"
      />
    </div>
    <div class="feature-content-wrapper">
      <div class="product-label messenger">
        <div>{{ "header.feature_portfolio" | translate }}</div>
      </div>
      <h2>{{ "landingpage.main_message.mess_sh_txt" | translate }}</h2>
      <p class="feature-text">
        {{ "landingpage.main_message.mess_s_txt" | translate }}
      </p>
    </div>
  </div>
</div>
