<div class="section _100vh main_messenger">
  <div class="feature-container">
    <div class="feature-image-wrapper">
      <div class="feature-image">
        <img
          src="../../../assets/images/5daaf6b464390c47cc91d3fa_main_terminal.png"
          sizes="100vw"
          srcset="
            ../../../assets/images/5daaf6b464390c47cc91d3fa_main_terminal-p-500.png  500w,
            ../../../assets/images/5daaf6b464390c47cc91d3fa_main_terminal-p-800.png  800w,
            ../../../assets/images/5daaf6b464390c47cc91d3fa_main_terminal.png       1417w
          "
          alt=""
          class="image"
        />
      </div>
    </div>
    <div
      class="feature-image-container main_messenger"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-delay="100"
      data-aos-duration="1000"
    >
      <img
        src="../../../assets/images/5eda2b76c8019d6bd4ed2f7f_messenger_main_crop.png"
        sizes="(max-width: 1396px) 100vw, 1396px"
        srcset="
          ../../../assets/images/5eda2b76c8019d6bd4ed2f7f_messenger_main_crop-p-500.png  500w,
          ../../../assets/images/5eda2b76c8019d6bd4ed2f7f_messenger_main_crop-p-800.png  800w,
          ../../../assets/images/5eda2b76c8019d6bd4ed2f7f_messenger_main_crop.png       1396w
        "
        alt=""
        class="main-messenger"
      />
    </div>
    <div class="feature-content-wrapper">
      <div class="product-label messenger">
        <div>Portfolio</div>
      </div>
      <h2>Keep an eye on what matters</h2>
      <p class="feature-text">
        Manage the financial metrics of your portfolio and each property, track
        performance and KPI's
      </p>
      <a
        href="messenger.html"
        class="learn-more-button messenger w-inline-block"
        ><div>Learn more</div>
        <img
          src="../../../assets/images/5daae5630a97edc85205e47f_arrow_right.svg"
          alt=""
          class="arrow-right home"
      /></a>
    </div>
  </div>
</div>
