<div class="hero-products messenger">
  <div
    class="product-label messenger header"
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-delay="100"
    data-aos-duration="700"
  >
    <div>Messenger</div>
  </div>
  <div class="_1600-container">
    <h1
      class="product-h1 messenger"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="700"
    >
      Communication tool for the global financial community
    </h1>
  </div>
  <div
    class="hero-product-container messenger"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="500"
    data-aos-duration="700"
  >
    <div class="hero-product messenger">
      <img
        src="../../../assets/images/5ddd795e34762ccc88be9bd0_messenger_page_.png"
        srcset="
          ../../../assets/images/5ddd795e34762ccc88be9bd0_messenger_page_-p-500.png   500w,
          ../../../assets/images/5ddd795e34762ccc88be9bd0_messenger_page_-p-800.png   800w,
          ../../../assets/images/5ddd795e34762ccc88be9bd0_messenger_page_-p-1080.png 1080w,
          ../../../assets/images/5ddd795e34762ccc88be9bd0_messenger_page_.png        1977w
        "
        sizes="(max-width: 1977px) 100vw, 1977px"
        alt=""
        class="messenger_hero"
      />
    </div>
  </div>
  <div class="_1600-container">
    <div class="hero-text-wrapper messenger">
      <div class="buttons-wrapper">
        <a
          href="https://chat.darqube.io/auth/sign_up"
          target="_blank"
          class="big-button full w-inline-block"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="100"
          data-aos-duration="700"
          ><div>Start using messenger</div></a
        ><a
          href="pdf/messenger.pdf"
          target="_blank"
          class="brochure-download w-inline-block"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="400"
          data-aos-duration="700"
          ><img
            src="../../../assets/images/5db08b349d47d1f30921844b_download_arrow.svg"
            alt=""
            class="brochure-icon"
          />
          <div>PDF brochure</div>
          <div class="brochure-size">1.57 MB</div></a
        >
      </div>
      <div
        class="hero-text messenger"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-delay="300"
        data-aos-duration="700"
      >
        Built by financial professionals for professionals like you. Integrated
        with Darqube products or available as a standalone application.
      </div>
    </div>
  </div>
</div>
