<div id="questions" class="section _100vh last">
  <h2 class="h2-centered">Have questions?</h2>
  <div class="_4-columns-wrapper about">
    <div class="have-questions-text">
      We want our products to provide you optimum efficiency. Find technical
      support, product updates, training sessions and more.
    </div>
    <div class="questions-container about">
      <a href="#" class="question-row w-inline-block"
        ><div>Help center</div>
        <img
          src="../../../assets/images/5db85a62ea9649fa709e23b3_arrow_right_red.svg"
          alt=""
          class="arrow-right-faq" /></a
      ><a href="contact-us.html" class="question-row w-inline-block"
        ><div>Talk to a real person</div>
        <img
          src="../../../assets/images/5db85a62ea9649fa709e23b3_arrow_right_red.svg"
          alt=""
          class="arrow-right-faq"
      /></a>
    </div>
  </div>
</div>
