<div id="overview" class="section _100vh first">
  <div class="container">
    <h1
      class="product-h1 top"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="400"
    >
      Contact us
    </h1>
    <div class="contacts-data-container">
      <h3
        class="custom-h3 contacts"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-delay="300"
        data-aos-duration="400"
      >
        Get in touch with us
      </h3>
      <div
        class="contacts-address-container"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-delay="500"
        data-aos-duration="400"
      >
        <h4>Darqube Ltd</h4>
        <p class="contact-address">
          Suite 2 125 - 135 Staines Road, Hounslow, United Kingdom, TW3 3JB
        </p>
        <div>
          <span class="highlighted-bold">Company Number:</span> 12197411
        </div>
      </div>
      <a
        href="cdn-cgi/l/email-protection.html#31424441415e434571555043404453541f585e"
        class="contacts-email-container w-inline-block"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-delay="700"
        data-aos-duration="400"
        ><img
          src="../../../assets/images/5dcc54cde62de11b644bb08a_email.svg"
          alt=""
          class="contacts-email-icon"
        />
        <div>
          <span
            class="__cf_email__"
            data-cfemail="e0939590908f9294a084819291958285ce898f"
            >[email&#160;protected]</span
          >
        </div></a
      ><a
        href="#"
        class="big-button black feedback w-inline-block"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-delay="900"
        data-aos-duration="400"
        ><div>Write a message</div></a
      >
    </div>
  </div>
</div>
<div
  class="contacts-map"
  data-aos="fade-up"
  data-aos-easing="linear"
  data-aos-delay="500"
  data-aos-duration="400"
>
  <iframe
    src="https://snazzymaps.com/embed/197045"
    width="100%"
    height="100%"
    style="border: none"
  ></iframe>
</div>
