<div class="hero-products">
  <div
    class="product-label terminal header"
    data-aos="fade-down"
    data-aos-anchor-placement="top-center"
  >
    <div>Terminal</div>
  </div>
  <h1
    class="product-h1 top"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="100"
    data-aos-duration="500"
  >
    Bring your trading skills to the next level with deep insights and advanced
    trading analytics
  </h1>
  <div class="hero-product-container terminal">
    <div
      class="hero-product terminal"
      data-aos="zoom-in-up"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="1000"
    >
      <img
        src="../../../assets/images/5db84344958ed21dac9344e1_terminal_hero.png"
        srcset="
          ../../../assets/images/5db84344958ed21dac9344e1_terminal_hero-p-500.png 500w,
          ../../../assets/images/5db84344958ed21dac9344e1_terminal_hero.png       919w
        "
        sizes="100vw"
        alt=""
        class="terminal-hero ghost"
      /><img
        src="../../../assets/images/5ddd7988680460843da1808a_terminal_hero_.png"
        srcset="
          ../../../assets/images/5ddd7988680460843da1808a_terminal_hero_-p-500.png 500w,
          ../../../assets/images/5ddd7988680460843da1808a_terminal_hero_.png       919w
        "
        sizes="100vw"
        alt=""
        class="terminal-hero"
      />
    </div>
    <div class="hero-text-wrapper terminal">
      <div
        class="hero-text"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="400"
        data-aos-duration="600"
      >
        Darqube Terminal meets the needs of investors and traders in a single
        cross-asset class analytical platform that is both easy to use and
        cost-effective
      </div>
      <a
        href="https://app.darqube.io/auth/sign_up?redirect=/terminal"
        target="_blank"
        class="big-button red w-inline-block"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="500"
        data-aos-duration="700"
        ><div>Try Now</div></a
      ><a
        href="pdf/terminal.pdf"
        target="_blank"
        class="brochure-download w-inline-block"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="700"
        data-aos-duration="700"
        ><img
          src="../../../assets/images/5db08b349d47d1f30921844b_download_arrow.svg"
          alt=""
          class="brochure-icon"
        />
        <div>PDF brochure</div>
        <div class="brochure-size">1.57 MB</div></a
      >
    </div>
  </div>
</div>
