<div id="contacts" class="section dark">
  <h2
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="300"
    data-aos-duration="400"
  >
    Contacts
  </h2>
  <div class="contacts-container">
    <div
      class="map-wrapper"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="400"
      data-aos-duration="400"
    >
      <div class="map-image-wrapper">
        <iframe
          src="https://snazzymaps.com/embed/197045"
          width="100%"
          height="100%"
          style="border: none"
        ></iframe>
      </div>
    </div>
    <div class="contacts-content">
      <div>
        <h3
          class="custom-h3"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="500"
          data-aos-duration="400"
        >
          Get in touch with us
        </h3>
        <div
          class="contacts-address-container"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="600"
          data-aos-duration="400"
        >
          <h4>Darqube Ltd</h4>
          <p class="contact-address">
            Suite 2 125 - 135 Staines Road, Hounslow, United Kingdom, TW3 3JB
          </p>
          <div>
            <span class="highlighted-bold">Company Number:</span> 12197411
          </div>
        </div>
        <a
          href="cdn-cgi/l/email-protection.html#a7d4d2d7d7c8d5d3e7c3c6d5d6d2c5c289cec8"
          class="contacts-email-container w-inline-block"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="500"
          ><img
            src="../../../assets/images/5dcc54cde62de11b644bb08a_email.svg"
            alt=""
            class="contacts-email-icon"
          />
          <div>
            <span
              class="__cf_email__"
              data-cfemail="0c7f797c7c637e784c686d7e7d796e69226563"
              >[email&#160;protected]</span
            >
          </div></a
        >
      </div>
    </div>
  </div>
</div>
