<div class="about-hero-section company">
  <div class="hero-text-container about">
    <div class="hero-text-wrapper about">
      <div
        class="hero-heading"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-delay="100"
        data-aos-duration="400"
      >
        Intelligence beyond data
      </div>
      <div
        class="hero-text about"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-delay="300"
        data-aos-duration="400"
      >
        We work to make sophisticated tech solutions available to everyone
      </div>
    </div>
  </div>
  <div class="video-overlay"></div>
</div>
<div class="about-nav-section">
  <div
    data-collapse="small"
    data-animation="default"
    data-duration="400"
    role="banner"
    class="about-navbar w-nav"
  >
    <div class="about-nav-container w-container">
      <nav role="navigation" class="w-nav-menu">
        <a href="#overview" class="nav-menu-item first w-nav-link">Overview</a
        ><a href="#team" class="nav-menu-item w-nav-link">Team</a
        ><a href="#values" class="nav-menu-item w-nav-link">Values</a
        ><a href="#contacts" class="nav-menu-item w-nav-link">Contacts</a
        ><a href="#questions" class="nav-menu-item w-nav-link">Questions</a>
      </nav>
    </div>
  </div>
</div>
