<div class="about-hero-section investor">
  <div class="hero-text-container about">
    <div class="hero-text-wrapper investor">
      <div
        class="hero-heading"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-delay="400"
        data-aos-duration="400"
      >
        Bridging the gap between Darqube and its Investors
      </div>
    </div>
  </div>
  <div class="video-overlay"></div>
</div>
<div class="section _100vh last">
  <div class="container">
    <h3 class="custom-h3">Contact Investor Relations</h3>
    <div class="_4-columns-wrapper investor">
      <div class="have-questions-text investor">
        Headquartered in London, Darqube provides leading software solutions for
        the global asset finance industry. Our talented team combines deep
        industry expertise with outstanding technical ability to deliver
        high-quality solutions for all our clients and high returns for our
        shareholders.
        <a
          href="cdn-cgi/l/email-protection.html#b2d1dddcc6d3d1c6f2d6d3c0c3c7d0d79cdbdd"
        ></a>
      </div>
      <div class="questions-container about top investor">
        <div class="have-questions-text investor">
          Access to the investment information is granted on an individual
          basis. For questions related to partnerships or becoming an investor
          in Darqube, please contact investor relations at
          <a
            href="cdn-cgi/l/email-protection.html#93f0fcfde7f2f0e7d3f7f2e1e2e6f1f6bdfafc"
            ><span
              class="__cf_email__"
              data-cfemail="97f4f8f9e3f6f4e3d7f3f6e5e6e2f5f2b9fef8"
              >[email&#160;protected]</span
            ></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
