<div class="section dark">
  <div class="widgets-amount-wrapper">
    <h2
      data-aos="fade-up"
      data-aos-easing="ease-in-sine"
      data-aos-delay="300"
      data-aos-duration="500"
    >
      Huge amount of widgets!
    </h2>
    <div class="widgets-amount">
      <div>16+</div>
    </div>
  </div>
  <h2
    class="custom-h2 hidden-on-mobile"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="400"
    data-aos-duration="500"
  >
    You get one of the most powerful financial workstations available
  </h2>
  <div
    class="subheading"
    data-aos="fade-up"
    data-aos-easing="ease-in-sine"
    data-aos-delay="500"
    data-aos-duration="500"
  >
    Our professional Terminal components make your trading decisions faster,
    more accurate and profitable
  </div>
  <div class="widgets-container">
    <div class="tabs w-tabs">
      <div
        class="tabs-menu w-tab-menu"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-delay="500"
        data-aos-duration="500"
      >
        <a
          data-w-tab="Position Tracker"
          class="widget-selector w-inline-block w-tab-link w--current"
          ><div>Position Tracker</div></a
        ><a
          href="#social_monitor"
          data-w-tab="Social Monitor"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Social Monitor</div></a
        ><a
          data-w-tab="Curves"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Futures Curves</div>
          <img
            src="../../../assets/images/5ddd72fb7946cd48297160f9_new.svg"
            alt=""
            class="new-label" /></a
        ><a
          data-w-tab="Statistical"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Statistical Analyser</div></a
        ><a
          data-w-tab="Time Series"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Time Series Analyser</div></a
        ><a data-w-tab="News" class="widget-selector w-inline-block w-tab-link"
          ><div>News / Twitter Feed</div></a
        ><a
          data-w-tab="Messenger"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Integrated Messenger</div></a
        ><a
          data-w-tab="Wallets"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Wallets</div></a
        ><a
          data-w-tab="Matrix"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Correlation / Beta Matrix</div></a
        ><a
          data-w-tab="Screener"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Market Screener</div></a
        ><a
          data-w-tab="Watchlist"
          class="widget-selector w-inline-block w-tab-link"
          ><div>Real-time Watchlists</div></a
        ><a data-w-tab="Chart" class="widget-selector w-inline-block w-tab-link"
          ><div>Real-time Charts</div></a
        ><a
          data-w-tab="IdeaPad"
          class="widget-selector w-inline-block w-tab-link"
          ><div>IdeaPad</div></a
        >
      </div>
      <div class="tabs-content w-tab-content">
        <div data-w-tab="Position Tracker" class="w-tab-pane w--tab-active">
          <div
            class="widgets-demo"
            data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-delay="900"
            data-aos-duration="700"
          >
            <div class="win-book-container">
              <div class="winbook-screen positions"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Track your trading position and monitor distribution in real
                time
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Social Monitor" id="social_monitor" class="w-tab-pane">
          <div
            class="widgets-demo"
            data-aos="fade-up"
            data-aos-easing="ease-in-sine"
            data-aos-delay="900"
            data-aos-duration="700"
          >
            <div class="win-book-container">
              <div class="winbook-screen social"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>Monitor how social media influences the Market</div>
            </div>
          </div>
        </div>
        <div data-w-tab="Curves" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen curves"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Futures Quote board / Term Structure, Historical, Seasonality -
                Crypto (CME, CBOE, BITMEX, OKEX)
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Statistical" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen statistical"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Calculate statistical measures, Fit and compare return
                distributions, Perform statistical Regression
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Time Series" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen time_series"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Compare various instruments: Historical prices, Performance,
                Spreads, Ratios, Rolling Volatility and Correlations
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="News" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen news"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Configure and follow real time Twitter / News headlines from
                market moving channels, your favourite influencers and news
                providers
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Messenger" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen messenger"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Chat and share trade ideas with your peers. Create or join
                various trading communities
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Wallets" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen wallets"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Show block movements on crypto main Exchanges, Pools and Whale
                wallets
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Matrix" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen matrix"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Monitor cross instrument dependencies using time framed
                correlations and beta factors
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Screener" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen screener"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Slice and dice the financial market and select the performant
                assets using drill down and screening tools
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Watchlist" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen watchlists"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Add and follow real time market quotes for the various
                instruments and asset classes
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Chart" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen charts"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>
                Monitor market movements of various instruments using integrated
                real time charts
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="IdeaPad" class="w-tab-pane">
          <div class="widgets-demo">
            <div class="win-book-container">
              <div class="winbook-screen ideapad"></div>
              <img
                src="../../../assets/images/5db86283e7cd99e852e86c81_win_book.png"
                srcset="
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book-p-500.png  500w,
                  ../../../assets/images/5db86283e7cd99e852e86c81_win_book.png       1295w
                "
                sizes="100vw"
                alt=""
              />
            </div>
            <div class="widget-description">
              <img
                src="../../../assets/images/5db85a62803cb2137e295fa0_info_icon.svg"
                alt=""
                class="info-icon"
              />
              <div>Note and save your trade ideas and analysis</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="outline-button widgets w-inline-block"
    ><div>Show all components</div></a
  >
</div>
