<div id="builder" class="section dark">
  <div
    class="custom-h1"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="100"
    data-aos-duration="700"
  >
    Bot Builder
  </div>
  <div
    class="subheading"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="300"
    data-aos-duration="700"
  >
    The platform is based on 3 core components, covering all scenarios of using
    by pro traders or people just want to invest
  </div>
  <div
    class="macbook-container"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="500"
    data-aos-duration="700"
  >
    <div class="macbook-screen builder"></div>
    <div class="macbook-screen report"></div>
    <img
      src="../../../assets/images/5db0955431da367767fb7d85_Macbook_black.png"
      srcset="
        ../../../assets/images/5db0955431da367767fb7d85_Macbook_black-p-500.png  500w,
        ../../../assets/images/5db0955431da367767fb7d85_Macbook_black.png       1197w
      "
      sizes="(max-width: 1197px) 100vw, 1197px"
      alt=""
    />
  </div>
  <div class="feature-item too-small">
    <div
      class="feature-item-column pic"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db1bb3466e7cce168a131c3_01.png"
        alt=""
        class="picture-shift"
      />
    </div>
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="100"
          data-aos-duration="700"
        >
          Component based strategy design with no scripting
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="300"
          data-aos-duration="700"
        >
          Use a pre-defined set of components and design your strategy with
          minimal clicks of the mouse
        </p>
      </div>
    </div>
  </div>
  <div class="feature-item too-small">
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="100"
          data-aos-duration="700"
        >
          Supercharged Backtests for better analytics
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="300"
          data-aos-duration="700"
        >
          Analyze the performance of a bot based on historical data before
          publishing it to the Marketplace or executing it in the Live Trader.
          And we have Portfolio level system back-testing and trading
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db1bb342244eb6aac80cf02_02.png"
        alt=""
        class="picture-shift"
      />
    </div>
  </div>
  <div class="feature-item">
    <div
      class="feature-item-column pic"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db1bb332244ebcf9180cf00_03.png"
        alt=""
        class="picture-shift tall"
      />
    </div>
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="100"
          data-aos-duration="700"
        >
          Any type of financial instruments and orders
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="300"
          data-aos-duration="700"
        >
          Not only crypto, you have them all. FIX object layer supports any type
          of financial instruments. And you have multiple order types available
          to fit all of your ideas.
        </p>
      </div>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-column">
      <div class="feature-item-text">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="100"
          data-aos-duration="700"
        >
          One click switch to live trading mode
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="300"
          data-aos-duration="700"
        >
          When you are happy with the results you get you can go live and trade
          on real money or using demo mode
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="linear"
      data-aos-delay="300"
      data-aos-duration="700"
    >
      <img
        src="../../../assets/images/5db1bb3466e7ccd94fa131c4_04.png"
        alt=""
      />
    </div>
  </div>
  <div class="icons-5-columns">
    <h2
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-delay="100"
      data-aos-duration="700"
    >
      Productivity by default
    </h2>
    <div class="icons-5-columns-wrapper">
      <div
        class="_5-icons-item-box"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="100"
        data-aos-duration="700"
      >
        <div class="_5-icons-picture">
          <img
            src="../../../assets/images/5db1c030383b8f44803951bc_json.svg"
            alt=""
          />
        </div>
        <div>Import your strategy as a JSON solution</div>
      </div>
      <div
        class="_5-icons-item-box"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="300"
        data-aos-duration="700"
      >
        <div class="_5-icons-picture">
          <img
            src="../../../assets/images/5db1c02fadcfe2063c165340_multiple.svg"
            alt=""
          />
        </div>
        <div>Multiple strategies can run within a meta-strategy</div>
      </div>
      <div
        class="_5-icons-item-box"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="500"
        data-aos-duration="700"
      >
        <div class="_5-icons-picture">
          <img
            src="../../../assets/images/5db1c02f7abe5cd62ac72b8c_currencies.svg"
            alt=""
          />
        </div>
        <div>Multi-currency accounting and simulations</div>
      </div>
      <div
        class="_5-icons-item-box"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="700"
        data-aos-duration="700"
      >
        <div class="_5-icons-picture">
          <img
            src="../../../assets/images/5db1c02fadcfe2061116533f_backtests.svg"
            alt=""
          />
        </div>
        <div>Simultaneous Backtest of multiple Exchanges and Instruments</div>
      </div>
      <div
        class="_5-icons-divider"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="700"
        data-aos-duration="700"
      ></div>
      <div
        class="_5-icons-item-box"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="900"
        data-aos-duration="700"
      >
        <div class="_5-icons-picture">
          <img
            src="../../../assets/images/5db1c02e7abe5cdcf0c72b8a_timeframes.svg"
            alt=""
          />
        </div>
        <div>Multiple time-frame support</div>
      </div>
      <div
        class="_5-icons-item-box"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="1100"
        data-aos-duration="700"
      >
        <div class="_5-icons-picture">
          <img
            src="../../../assets/images/5db1c02e8e0709788608133d_reports.svg"
            alt=""
          />
        </div>
        <div>Multiple Backtest reports at a time</div>
      </div>
      <div
        class="_5-icons-item-box"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="1300"
        data-aos-duration="700"
      >
        <div class="_5-icons-picture">
          <img
            src="../../../assets/images/5db1c02e383b8f26d43951b3_builder_tabs.svg"
            alt=""
          />
        </div>
        <div>Multiple bot builder windows at a time</div>
      </div>
      <div
        class="_5-icons-item-box"
        data-aos="fade-zoom-in"
        data-aos-easing="linear"
        data-aos-delay="1500"
        data-aos-duration="700"
      >
        <div class="_5-icons-picture">
          <img
            src="../../../assets/images/5db1c02e7abe5c64cac72b89_finish_later.svg"
            alt=""
          />
        </div>
        <div>Save Bots, Reports and finish later</div>
      </div>
    </div>
  </div>
</div>
