<div class="section wide">
  <div
    class="custom-h1"
    data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-delay="500"
    data-aos-duration="500"
  >
    We cover it all
  </div>
  <div class="feature-item">
    <div class="feature-item-column">
      <div class="feature-item-text wide">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="500"
          data-aos-duration="500"
        >
          Global all asset class coverage
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="500"
          data-aos-duration="500"
        >
          Trade FX, commodities, indices, cryptocurrenceis and more with Darqube
          Terminal to take advantage of both rising and falling prices.
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="500"
    >
      <img
        src="../../../assets/images/5db85aa99431de0ede7d2707_23.png"
        alt=""
        class="feature_26"
      />
    </div>
  </div>
  <div class="feature-item">
    <div
      class="feature-item-column pic"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="500"
    >
      <img
        src="../../../assets/images/5db86b256c67c7ed3bc009d0_24.png"
        alt=""
        class="feature_27"
      />
    </div>
    <div class="feature-item-column">
      <div class="feature-item-text wide">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="500"
          data-aos-duration="500"
        >
          Available cross-platform
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="600"
          data-aos-duration="500"
        >
          Our terminals require no download and can be run directly from your
          web browser to bring you global equity, portfolio tools, institutional
          holdings data, analyst estimates, excel historical data and
          fundamentals
        </p>
        <a
          href="mobile-app.html"
          class="learn-more-button no_padding w-inline-block"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="500"
          data-aos-duration="500"
          ><div>About mobile application</div>
          <img
            src="../../../assets/images/5daae5630a97edc85205e47f_arrow_right.svg"
            alt=""
            class="arrow-right"
        /></a>
      </div>
    </div>
  </div>
  <div class="feature-item">
    <div class="feature-item-column">
      <div class="feature-item-text wide">
        <h2
          class="feature-heading"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="500"
          data-aos-duration="500"
        >
          Fits everybody
        </h2>
        <p
          class="feature-text wide"
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-delay="700"
          data-aos-duration="500"
        >
          From the novice trader to experienced experts
        </p>
      </div>
    </div>
    <div
      class="feature-item-column opposite"
      data-aos="fade-left"
      data-aos-easing="linear"
      data-aos-delay="500"
      data-aos-duration="500"
    >
      <img
        src="../../../assets/images/5db85aa9a8bd4e68d5766d44_25.png"
        alt=""
        class="feature_25"
      />
    </div>
  </div>
</div>
