<div class="section _100vh footer">
  <div class="footer-container">
    <div class="footer-menu-row">
      <div class="footer-menu-column">
        <div class="footer-column-heading">
          <div class="footer-logo"></div>
        </div>
        <h4>Welcome to Real Estate 2.0!</h4>
        <h4>Let's talk: <span style="color: #44c4ad">info@mrex.co</span></h4>
      </div>
    </div>
    <div class="footer-copyright-row">
      <div class="footer-copyright-text">Copyright © 2020 MREX inc.</div>
      <div class="footer-legal-links-container">
        <a href="terms-conditions.html" class="footer-legal-link"
          >Terms & Conditions - Disclaimer</a
        ><a href="privacy-policy.html" class="footer-legal-link"
          >Data Privacy</a
        >
      </div>
      <div class="social-links-container">
        <div class="footer-copyright-text">Follow us at:</div>
        <a
          href="https://www.facebook.com/DarQube-1474337082603015/"
          target="_blank"
          class="social-link fb w-inline-block"
        ></a
        ><a
          href="https://twitter.com/darqube_io"
          target="_blank"
          class="social-link twitter w-inline-block"
        ></a
        ><a
          href="https://www.youtube.com/channel/UCFUVH8NK2Lz6dMujan9qNvg"
          target="_blank"
          class="social-link youtube w-inline-block"
        ></a
        ><a
          href="https://www.instagram.com/darqube.io/"
          target="_blank"
          class="social-link instagram w-inline-block"
        ></a
        ><a
          href="https://www.linkedin.com/company/darqube"
          target="_blank"
          class="social-link linkedin w-inline-block"
        ></a
        ><a
          href="https://t.me/joinchat/AAAAAExzsSqwXYFVQpH7EA"
          target="_blank"
          class="social-link telegram w-inline-block"
        ></a>
      </div>
    </div>
  </div>
</div>
