<div class="section _100vh footer">
  <div class="footer-container">
    <div class="footer-menu-row">
      <div class="footer-logo"></div>
      <div class="footer-menu-column">
        <div class="footer-column-heading">About us</div>
        <a href="about.html" class="footer-menu-link">Company</a
        ><a href="careers.html" class="footer-menu-link">Careers</a
        ><a href="investor-information.html" class="footer-menu-link"
          >Investor information</a
        >
      </div>
      <div class="footer-menu-column">
        <div class="footer-column-heading">Products</div>
        <a href="terminal.html" class="footer-menu-link">Terminal</a
        ><a href="tradelab.html" class="footer-menu-link">Tradelab</a
        ><a href="messenger.html" class="footer-menu-link">Messenger</a
        ><a href="mobile-app.html" class="footer-menu-link">Mobile App</a>
      </div>
      <div class="footer-menu-column">
        <div class="footer-column-heading">Media</div>
        <a href="research.html" class="footer-menu-link">Research</a
        ><a href="blog.html" class="footer-menu-link">Blog</a
        ><a href="help-center.html" class="footer-menu-link">Help Center</a
        ><a href="faq.html" class="footer-menu-link">FAQ</a>
      </div>
      <div class="footer-menu-column">
        <a href="crowdfunding.html" class="footer-column-heading link cf"
          >Crowdfunding</a
        ><a href="pricing.html" class="footer-column-heading link">Pricing</a
        ><a href="b2b.html" class="footer-column-heading link">B2B Solutions</a
        ><a href="contact-us.html" class="footer-column-heading link"
          >Contact us</a
        >
      </div>
      <div class="footer-newsletter">
        <div class="footer-column-heading">Newsletter</div>
        <div class="w-form">
          <form
            id="email-form"
            name="email-form"
            data-name="Email Form"
            action="https://emailoctopus.com/lists/c78f9ae3-3dda-11ea-be00-06b4694bee2a/members/embedded/1.3s/add"
            method="post"
            data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
            class="email-octopus-form"
          >
            <input
              type="email"
              class="input-field w-input"
              maxlength="256"
              name="field_0"
              data-name="field_0"
              placeholder="Your e-mail..."
              id="field_-2"
              required=""
            /><input
              type="submit"
              data-wait="Please wait..."
              value=" "
              class="newsletter-button w-button"
            />
            <div aria-hidden="true" class="email-form-row-hp">
              <input
                type="text"
                class="w-input"
                autocomplete="nope"
                maxlength="256"
                name="hpc78f9ae3-3dda-11ea-be00-06b4694bee2a"
                data-name="hpc78f9ae3-3dda-11ea-be00-06b4694bee2a"
                id="hpc78f9ae3-3dda-11ea-be00-06b4694bee2a"
                tabindex="-1"
              />
            </div>
          </form>
          <div class="success-message w-form-done">
            <img
              src="../../../assets/images/5dcd98f758a165abe5c62915_check.svg"
              alt=""
            />
            <div class="form-answer green">
              Thank you! Your submission has been received!
            </div>
          </div>
          <div class="error-message w-form-fail">
            <img
              src="../../../assets/images/5dcd98f56514d0ab8dd2c3af_error.svg"
              alt=""
            />
            <div class="form-answer red">
              Oops! Something went wrong while submitting the form.
            </div>
          </div>
        </div>
        <div class="google-captcha">
          <div>
            This site is protected by reCAPTCHA and the Google
            <a
              href="https://policies.google.com/privacy"
              target="_blank"
              class="google-links"
              >Privacy Policy</a
            >
            and
            <a
              href="https://policies.google.com/terms"
              target="_blank"
              class="google-links"
              >Terms of Service</a
            >
            apply
          </div>
          <div class="grecaptcha-badge"></div>
        </div>
      </div>
    </div>
    <div class="footer-copyright-row">
      <div class="footer-copyright-text">
        © 2020 Darqube Ltd. <br />All rights reserved
      </div>
      <div class="footer-legal-links-container">
        <a href="terms-conditions.html" class="footer-legal-link"
          >Terms & Conditions</a
        ><a href="privacy-policy.html" class="footer-legal-link">Data Privacy</a
        ><a href="risks-disclosure.html" class="footer-legal-link"
          >Risks Disclosure</a
        >
      </div>
      <a href="#" class="appstore-shield-small w-inline-block"
        ><img
          src="../../../assets/images/5dab38ad4c72cc7d39e9a981_appstore.png"
          alt=""
          class="image-2"
      /></a>
      <div class="social-links-container">
        <a
          href="https://www.facebook.com/DarQube-1474337082603015/"
          target="_blank"
          class="social-link fb w-inline-block"
        ></a
        ><a
          href="https://twitter.com/darqube_io"
          target="_blank"
          class="social-link twitter w-inline-block"
        ></a
        ><a
          href="https://www.youtube.com/channel/UCFUVH8NK2Lz6dMujan9qNvg"
          target="_blank"
          class="social-link youtube w-inline-block"
        ></a
        ><a
          href="https://www.instagram.com/darqube.io/"
          target="_blank"
          class="social-link instagram w-inline-block"
        ></a
        ><a
          href="https://www.linkedin.com/company/darqube"
          target="_blank"
          class="social-link linkedin w-inline-block"
        ></a
        ><a
          href="https://t.me/joinchat/AAAAAExzsSqwXYFVQpH7EA"
          target="_blank"
          class="social-link telegram w-inline-block"
        ></a>
      </div>
    </div>
  </div>
</div>
