<div class="section _100vh footer">
  <div class="footer-container">
    <div class="footer-menu-row">
      <div class="footer-menu-column">
        <div class="footer-column-heading">
          <div class="footer-logo"></div>
        </div>
        <h4>{{ "footer.welcome_txt" | translate }}</h4>
        <h4>
          {{ "footer.talk_info" | translate }}
          <span style="color: #44c4ad">info@mrex.co</span>
        </h4>
      </div>
    </div>
    <div class="footer-copyright-row">
      <div class="footer-copyright-text">
        {{ "footer.copy_txt" | translate }}
      </div>
      <div class="footer-legal-links-container">
        <a routerLink="/term-condition" class="footer-legal-link">{{
          "footer.term_txt" | translate
        }}</a
        ><a routerLink="/privacy-policy" class="footer-legal-link">{{
          "footer.privacy_txt" | translate
        }}</a>
      </div>
      <div class="social-links-container">
        <div class="footer-copyright-text">
          {{ "footer.follow_txt" | translate }}
        </div>
        <a
          href="https://www.facebook.com/DarQube-1474337082603015/"
          target="_blank"
          class="social-link fb w-inline-block"
        ></a
        ><a
          href="https://twitter.com/darqube_io"
          target="_blank"
          class="social-link twitter w-inline-block"
        ></a
        ><a
          href="https://www.youtube.com/channel/UCFUVH8NK2Lz6dMujan9qNvg"
          target="_blank"
          class="social-link youtube w-inline-block"
        ></a
        ><a
          href="https://www.instagram.com/darqube.io/"
          target="_blank"
          class="social-link instagram w-inline-block"
        ></a
        ><a
          href="https://www.linkedin.com/company/darqube"
          target="_blank"
          class="social-link linkedin w-inline-block"
        ></a>
      </div>
    </div>
  </div>
</div>
